# 実行環境の作成

## Google Drive

Google Driveをマウント

In [7]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Google Sheets

ライブラリのインストール

In [ ]:
!pip install --upgrade -q gspread

Google Sheetsの認証

In [ ]:
from google.colab import auth
from google.auth import default
import gspread

auth.authenticate_user()
creds, _ = default()
gc = gspread.authorize(creds)

## Google Cloud Storage

下記コードでGCPに接続

In [ ]:
from google.colab import auth
auth.authenticate_user()

認証に成功したらgcsfuseをインストール

In [ ]:
!echo "deb http://packages.cloud.google.com/apt gcsfuse-`lsb_release -c -s` main" | sudo tee /etc/apt/sources.list.d/gcsfuse.list
!curl https://packages.cloud.google.com/apt/doc/apt-key.gpg | sudo apt-key add -
!apt-get -y -q update
!apt-get -y -q install gcsfuse

バケット「statistics-hyogo」をディレクトリ「statistics-hyogo」にマウント

In [ ]:
! mkdir -p statistics-hyogo
! gcsfuse --implicit-dirs --limit-bytes-per-sec -1 --limit-ops-per-sec -1 statistics-hyogo statistics-hyogo

# 地域設定

## 関数

In [5]:
import json

def get_area(params={}):
  with open('drive/MyDrive/statistics-hyogo/resas/arealist.json') as j:
    areas = json.load(j)

    if not params:
      return areas

    else:
      for p in params.keys():
        areas = list(filter(lambda x: x[p] == params[p], areas))
      return areas

## 都道府県コード一覧

In [49]:
def prefCodes():
  params = {
      'governmentType': 'prefecture',
  }
  
  area = get_area(params)
  return [d.get('areaCode') for d in area]

In [50]:
print(prefCodes())

['01000', '02000', '03000', '04000', '05000', '06000', '07000', '08000', '09000', '10000', '11000', '12000', '13000', '14000', '15000', '16000', '17000', '18000', '19000', '20000', '21000', '22000', '23000', '24000', '25000', '26000', '27000', '28000', '29000', '30000', '31000', '32000', '33000', '34000', '35000', '36000', '37000', '38000', '39000', '40000', '41000', '42000', '43000', '44000', '45000', '46000', '47000']

## 市区町村コード一覧

政令指定都市の区は無視する

In [38]:
def city(prefCode=None):
  params = {'governmentType': 'city'}

  if prefCode is not None:
    params['prefCode'] = prefCode

  area = get_area(params)
  area = list(filter(lambda item : item['bigCityFlag'] != '1', area))
  return [d.get('areaCode') for d in area]

In [39]:
cityCodes = city()
print(cityCodes)

['01100', '01202', '01203', '01204', '01205', '01206', '01207', '01208', '01209', '01210', '01211', '01212', '01213', '01214', '01215', '01216', '01217', '01218', '01219', '01220', '01221', '01222', '01223', '01224', '01225', '01226', '01227', '01228', '01229', '01230', '01231', '01233', '01234', '01235', '01236', '01303', '01304', '01331', '01332', '01333', '01334', '01337', '01343', '01345', '01346', '01347', '01361', '01362', '01363', '01364', '01367', '01370', '01371', '01391', '01392', '01393', '01394', '01395', '01396', '01397', '01398', '01399', '01400', '01401', '01402', '01403', '01404', '01405', '01406', '01407', '01408', '01409', '01423', '01424', '01425', '01427', '01428', '01429', '01430', '01431', '01432', '01433', '01434', '01436', '01437', '01438', '01452', '01453', '01454', '01455', '01456', '01457', '01458', '01459', '01460', '01461', '01462', '01463', '01464', '01465', '01468', '01469', '01470', '01471', '01472', '01481', '01482', '01483', '01484', '01485', '01486', '01487', '01511', '01512', '01513', '01514', '01516', '01517', '01518', '01519', '01520', '01543', '01544', '01545', '01546', '01547', '01549', '01550', '01552', '01555', '01559', '01560', '01561', '01562', '01563', '01564', '01571', '01575', '01578', '01581', '01584', '01585', '01586', '01601', '01602', '01604', '01607', '01608', '01609', '01610', '01631', '01632', '01633', '01634', '01635', '01636', '01637', '01638', '01639', '01641', '01642', '01643', '01644', '01645', '01646', '01647', '01648', '01649', '01661', '01662', '01663', '01664', '01665', '01667', '01668', '01691', '01692', '01693', '01694', '01695', '01696', '01697', '01698', '01699', '01700', '02201', '02202', '02203', '02204', '02205', '02206', '02207', '02208', '02209', '02210', '02301', '02303', '02304', '02307', '02321', '02323', '02343', '02361', '02362', '02367', '02381', '02384', '02387', '02401', '02402', '02405', '02406', '02408', '02411', '02412', '02423', '02424', '02425', '02426', '02441', '02442', '02443', '02445', '02446', '02450', '03201', '03202', '03203', '03205', '03206', '03207', '03208', '03209', '03210', '03211', '03213', '03214', '03215', '03216', '03301', '03302', '03303', '03321', '03322', '03366', '03381', '03402', '03441', '03461', '03482', '03483', '03484', '03485', '03501', '03503', '03506', '03507', '03524', '04100', '04202', '04203', '04205', '04206', '04207', '04208', '04209', '04211', '04212', '04213', '04214', '04215', '04216', '04301', '04302', '04321', '04322', '04323', '04324', '04341', '04361', '04362', '04401', '04404', '04406', '04421', '04422', '04424', '04444', '04445', '04501', '04505', '04581', '04606', '05201', '05202', '05203', '05204', '05206', '05207', '05209', '05210', '05211', '05212', '05213', '05214', '05215', '05303', '05327', '05346', '05348', '05349', '05361', '05363', '05366', '05368', '05434', '05463', '05464', '06201', '06202', '06203', '06204', '06205', '06206', '06207', '06208', '06209', '06210', '06211', '06212', '06213', '06301', '06302', '06321', '06322', '06323', '06324', '06341', '06361', '06362', '06363', '06364', '06365', '06366', '06367', '06381', '06382', '06401', '06402', '06403', '06426', '06428', '06461', '07201', '07202', '07203', '07204', '07205', '07207', '07208', '07209', '07210', '07211', '07212', '07213', '07214', '07301', '07303', '07308', '07322', '07342', '07344', '07362', '07364', '07367', '07368', '07402', '07405', '07407', '07408', '07421', '07422', '07423', '07444', '07445', '07446', '07447', '07461', '07464', '07465', '07466', '07481', '07482', '07483', '07484', '07501', '07502', '07503', '07504', '07505', '07521', '07522', '07541', '07542', '07543', '07544', '07545', '07546', '07547', '07548', '07561', '07564', '08201', '08202', '08203', '08204', '08205', '08207', '08208', '08210', '08211', '08212', '08214', '08215', '08216', '08217', '08219', '08220', '08221', '08222', '08223', '08224', '08225', '08226', '08227', '08228', '08229', '08230', '08231', '08232', '08233', '08234', '08235', '08236', '08302', '08309', '08310', '08341', '08364', '08442', '08443', '08447', '08521', '08542', '08546', '08564', '09201', '09202', '09203', '09204', '09205', '09206', '09208', '09209', '09210', '09211', '09213', '09214', '09215', '09216', '09301', '09342', '09343', '09344', '09345', '09361', '09364', '09384', '09386', '09407', '09411', '10201', '10202', '10203', '10204', '10205', '10206', '10207', '10208', '10209', '10210', '10211', '10212', '10344', '10345', '10366', '10367', '10382', '10383', '10384', '10421', '10424', '10425', '10426', '10428', '10429', '10443', '10444', '10448', '10449', '10464', '10521', '10522', '10523', '10524', '10525', '11100', '11201', '11202', '11203', '11206', '11207', '11208', '11209', '11210', '11211', '11212', '11214', '11215', '11216', '11217', '11218', '11219', '11221', '11222', '11223', '11224', '11225', '11227', '11228', '11229', '11230', '11231', '11232', '11233', '11234', '11235', '11237', '11238', '11239', '11240', '11241', '11242', '11243', '11245', '11246', '11301', '11324', '11326', '11327', '11341', '11342', '11343', '11346', '11347', '11348', '11349', '11361', '11362', '11363', '11365', '11369', '11381', '11383', '11385', '11408', '11442', '11464', '11465', '12100', '12202', '12203', '12204', '12205', '12206', '12207', '12208', '12210', '12211', '12212', '12213', '12215', '12216', '12217', '12218', '12219', '12220', '12221', '12222', '12223', '12224', '12225', '12226', '12227', '12228', '12229', '12230', '12231', '12232', '12233', '12234', '12235', '12236', '12237', '12238', '12239', '12322', '12329', '12342', '12347', '12349', '12403', '12409', '12410', '12421', '12422', '12423', '12424', '12426', '12427', '12441', '12443', '12463', '13101', '13102', '13103', '13104', '13105', '13106', '13107', '13108', '13109', '13110', '13111', '13112', '13113', '13114', '13115', '13116', '13117', '13118', '13119', '13120', '13121', '13122', '13123', '13201', '13202', '13203', '13204', '13205', '13206', '13207', '13208', '13209', '13210', '13211', '13212', '13213', '13214', '13215', '13218', '13219', '13220', '13221', '13222', '13223', '13224', '13225', '13227', '13228', '13229', '13303', '13305', '13307', '13308', '13361', '13362', '13363', '13364', '13381', '13382', '13401', '13402', '13421', '14100', '14130', '14150', '14201', '14203', '14204', '14205', '14206', '14207', '14208', '14210', '14211', '14212', '14213', '14214', '14215', '14216', '14217', '14218', '14301', '14321', '14341', '14342', '14361', '14362', '14363', '14364', '14366', '14382', '14383', '14384', '14401', '14402', '15100', '15202', '15204', '15205', '15206', '15208', '15209', '15210', '15211', '15212', '15213', '15216', '15217', '15218', '15222', '15223', '15224', '15225', '15226', '15227', '15307', '15342', '15361', '15385', '15405', '15461', '15482', '15504', '15581', '15586', '16201', '16202', '16204', '16205', '16206', '16207', '16208', '16209', '16210', '16211', '16321', '16322', '16323', '16342', '16343', '17201', '17202', '17203', '17204', '17205', '17206', '17207', '17209', '17210', '17211', '17212', '17324', '17361', '17365', '17384', '17386', '17407', '17461', '17463', '18201', '18202', '18204', '18205', '18206', '18207', '18208', '18209', '18210', '18322', '18382', '18404', '18423', '18442', '18481', '18483', '18501', '19201', '19202', '19204', '19205', '19206', '19207', '19208', '19209', '19210', '19211', '19212', '19213', '19214', '19346', '19364', '19365', '19366', '19368', '19384', '19422', '19423', '19424', '19425', '19429', '19430', '19442', '19443', '20201', '20202', '20203', '20204', '20205', '20206', '20207', '20208', '20209', '20210', '20211', '20212', '20213', '20214', '20215', '20217', '20218', '20219', '20220', '20303', '20304', '20305', '20306', '20307', '20309', '20321', '20323', '20324', '20349', '20350', '20361', '20362', '20363', '20382', '20383', '20384', '20385', '20386', '20388', '20402', '20403', '20404', '20407', '20409', '20410', '20411', '20412', '20413', '20414', '20415', '20416', '20417', '20422', '20423', '20425', '20429', '20430', '20432', '20446', '20448', '20450', '20451', '20452', '20481', '20482', '20485', '20486', '20521', '20541', '20543', '20561', '20562', '20563', '20583', '20588', '20590', '20602', '21201', '21202', '21203', '21204', '21205', '21206', '21207', '21208', '21209', '21210', '21211', '21212', '21213', '21214', '21215', '21216', '21217', '21218', '21219', '21220', '21221', '21302', '21303', '21341', '21361', '21362', '21381', '21382', '21383', '21401', '21403', '21404', '21421', '21501', '21502', '21503', '21504', '21505', '21506', '21507', '21521', '21604', '22100', '22130', '22203', '22205', '22206', '22207', '22208', '22209', '22210', '22211', '22212', '22213', '22214', '22215', '22216', '22219', '22220', '22221', '22222', '22223', '22224', '22225', '22226', '22301', '22302', '22304', '22305', '22306', '22325', '22341', '22342', '22344', '22424', '22429', '22461', '23100', '23201', '23202', '23203', '23204', '23205', '23206', '23207', '23208', '23209', '23210', '23211', '23212', '23213', '23214', '23215', '23216', '23217', '23219', '23220', '23221', '23222', '23223', '23224', '23225', '23226', '23227', '23228', '23229', '23230', '23231', '23232', '23233', '23234', '23235', '23236', '23237', '23238', '23302', '23342', '23361', '23362', '23424', '23425', '23427', '23441', '23442', '23445', '23446', '23447', '23501', '23561', '23562', '23563', '24201', '24202', '24203', '24204', '24205', '24207', '24208', '24209', '24210', '24211', '24212', '24214', '24215', '24216', '24303', '24324', '24341', '24343', '24344', '24441', '24442', '24443', '24461', '24470', '24471', '24472', '24543', '24561', '24562', '25201', '25202', '25203', '25204', '25206', '25207', '25208', '25209', '25210', '25211', '25212', '25213', '25214', '25383', '25384', '25425', '25441', '25442', '25443', '26100', '26201', '26202', '26203', '26204', '26205', '26206', '26207', '26208', '26209', '26210', '26211', '26212', '26213', '26214', '26303', '26322', '26343', '26344', '26364', '26365', '26366', '26367', '26407', '26463', '26465', '27100', '27140', '27202', '27203', '27204', '27205', '27206', '27207', '27208', '27209', '27210', '27211', '27212', '27213', '27214', '27215', '27216', '27217', '27218', '27219', '27220', '27221', '27222', '27223', '27224', '27225', '27226', '27227', '27228', '27229', '27230', '27231', '27232', '27301', '27321', '27322', '27341', '27361', '27362', '27366', '27381', '27382', '27383', '28100', '28201', '28202', '28203', '28204', '28205', '28206', '28207', '28208', '28209', '28210', '28212', '28213', '28214', '28215', '28216', '28217', '28218', '28219', '28220', '28221', '28222', '28223', '28224', '28225', '28226', '28227', '28228', '28229', '28301', '28365', '28381', '28382', '28442', '28443', '28446', '28464', '28481', '28501', '28585', '28586', '29201', '29202', '29203', '29204', '29205', '29206', '29207', '29208', '29209', '29210', '29211', '29212', '29322', '29342', '29343', '29344', '29345', '29361', '29362', '29363', '29385', '29386', '29401', '29402', '29424', '29425', '29426', '29427', '29441', '29442', '29443', '29444', '29446', '29447', '29449', '29450', '29451', '29452', '29453', '30201', '30202', '30203', '30204', '30205', '30206', '30207', '30208', '30209', '30304', '30341', '30343', '30344', '30361', '30362', '30366', '30381', '30382', '30383', '30390', '30391', '30392', '30401', '30404', '30406', '30421', '30422', '30424', '30427', '30428', '31201', '31202', '31203', '31204', '31302', '31325', '31328', '31329', '31364', '31370', '31371', '31372', '31384', '31386', '31389', '31390', '31401', '31402', '31403', '32201', '32202', '32203', '32204', '32205', '32206', '32207', '32209', '32343', '32386', '32441', '32448', '32449', '32501', '32505', '32525', '32526', '32527', '32528', '33100', '33202', '33203', '33204', '33205', '33207', '33208', '33209', '33210', '33211', '33212', '33213', '33214', '33215', '33216', '33346', '33423', '33445', '33461', '33586', '33606', '33622', '33623', '33643', '33663', '33666', '33681', '34100', '34202', '34203', '34204', '34205', '34207', '34208', '34209', '34210', '34211', '34212', '34213', '34214', '34215', '34302', '34304', '34307', '34309', '34368', '34369', '34431', '34462', '34545', '35201', '35202', '35203', '35204', '35206', '35207', '35208', '35210', '35211', '35212', '35213', '35215', '35216', '35305', '35321', '35341', '35343', '35344', '35502', '36201', '36202', '36203', '36204', '36205', '36206', '36207', '36208', '36301', '36302', '36321', '36341', '36342', '36368', '36383', '36387', '36388', '36401', '36402', '36403', '36404', '36405', '36468', '36489', '37201', '37202', '37203', '37204', '37205', '37206', '37207', '37208', '37322', '37324', '37341', '37364', '37386', '37387', '37403', '37404', '37406', '38201', '38202', '38203', '38204', '38205', '38206', '38207', '38210', '38213', '38214', '38215', '38356', '38386', '38401', '38402', '38422', '38442', '38484', '38488', '38506', '39201', '39202', '39203', '39204', '39205', '39206', '39208', '39209', '39210', '39211', '39212', '39301', '39302', '39303', '39304', '39305', '39306', '39307', '39341', '39344', '39363', '39364', '39386', '39387', '39401', '39402', '39403', '39405', '39410', '39411', '39412', '39424', '39427', '39428', '40100', '40130', '40202', '40203', '40204', '40205', '40206', '40207', '40210', '40211', '40212', '40213', '40214', '40215', '40216', '40217', '40218', '40219', '40220', '40221', '40223', '40224', '40225', '40226', '40227', '40228', '40229', '40230', '40231', '40341', '40342', '40343', '40344', '40345', '40348', '40349', '40381', '40382', '40383', '40384', '40401', '40402', '40421', '40447', '40448', '40503', '40522', '40544', '40601', '40602', '40604', '40605', '40608', '40609', '40610', '40621', '40625', '40642', '40646', '40647', '41201', '41202', '41203', '41204', '41205', '41206', '41207', '41208', '41209', '41210', '41327', '41341', '41345', '41346', '41387', '41401', '41423', '41424', '41425', '41441', '42201', '42202', '42203', '42204', '42205', '42207', '42208', '42209', '42210', '42211', '42212', '42213', '42214', '42307', '42308', '42321', '42322', '42323', '42383', '42391', '42411', '43100', '43202', '43203', '43204', '43205', '43206', '43208', '43210', '43211', '43212', '43213', '43214', '43215', '43216', '43348', '43364', '43367', '43368', '43369', '43403', '43404', '43423', '43424', '43425', '43428', '43432', '43433', '43441', '43442', '43443', '43444', '43447', '43468', '43482', '43484', '43501', '43505', '43506', '43507', '43510', '43511', '43512', '43513', '43514', '43531', '44201', '44202', '44203', '44204', '44205', '44206', '44207', '44208', '44209', '44210', '44211', '44212', '44213', '44214', '44322', '44341', '44461', '44462', '45201', '45202', '45203', '45204', '45205', '45206', '45207', '45208', '45209', '45341', '45361', '45382', '45383', '45401', '45402', '45403', '45404', '45405', '45406', '45421', '45429', '45430', '45431', '45441', '45442', '45443', '46201', '46203', '46204', '46206', '46208', '46210', '46213', '46214', '46215', '46216', '46217', '46218', '46219', '46220', '46221', '46222', '46223', '46224', '46225', '46303', '46304', '46392', '46404', '46452', '46468', '46482', '46490', '46491', '46492', '46501', '46502', '46505', '46523', '46524', '46525', '46527', '46529', '46530', '46531', '46532', '46533', '46534', '46535', '47201', '47205', '47207', '47208', '47209', '47210', '47211', '47212', '47213', '47214', '47215', '47301', '47302', '47303', '47306', '47308', '47311', '47313', '47314', '47315', '47324', '47325', '47326', '47327', '47328', '47329', '47348', '47350', '47353', '47354', '47355', '47356', '47357', '47358', '47359', '47360', '47361', '47362', '47375', '47381', '47382']

In [40]:
cityCodes = city(28)
print(cityCodes)

['28100', '28201', '28202', '28203', '28204', '28205', '28206', '28207', '28208', '28209', '28210', '28212', '28213', '28214', '28215', '28216', '28217', '28218', '28219', '28220', '28221', '28222', '28223', '28224', '28225', '28226', '28227', '28228', '28229', '28301', '28365', '28381', '28382', '28442', '28443', '28446', '28464', '28481', '28501', '28585', '28586']

# Jsonを保存する関数

In [71]:
def save_json(dic,path):
  
  # Google Driveへ保存
  drive_path = "drive/MyDrive/statistics-japan/{}".format(path)
  
  with open(drive_path, 'w') as f:
    json.dump(dic,f,ensure_ascii=False)
  
  # GoogleCloudStorage
  gcs_path = "statistics-japan/{}".format(path)
  with open(gcs_path, 'w') as f:
    json.dump(dic,f,ensure_ascii=False)

# estatレスポンスを取得

## 関数

In [1]:
import urllib.parse
import urllib.request
import json

def get_estat_response(params):
  # appId
  params['appId'] = '724e5b90772a3e9289f41a253e4e7e32438f4fff'
  
  # url生成
  url = 'http://api.e-stat.go.jp/rest/2.1/app/json/getStatsData?'
  url += urllib.parse.urlencode(params)

  with urllib.request.urlopen(url) as response:
    return json.loads(response.read().decode('utf-8'))

In [45]:
params = {
    'statsDataId': '0000020201',
    'cdCat01': 'A1101',
    'cdArea': '28100',
    'cdTime': '1980100000',
    }

res = get_estat_response(params)
print(res)

{'GET_STATS_DATA': {'RESULT': {'STATUS': 0, 'ERROR_MSG': '正常に終了しました。', 'DATE': '2022-12-23T16:06:43.074+09:00'}, 'PARAMETER': {'LANG': 'J', 'STATS_DATA_ID': '0000020201', 'NARROWING_COND': {'CODE_CAT01_SELECT': 'A1101', 'CODE_AREA_SELECT': 28100, 'CODE_TIME_SELECT': 1980100000}, 'DATA_FORMAT': 'J', 'START_POSITION': 1, 'METAGET_FLG': 'Y'}, 'STATISTICAL_DATA': {'RESULT_INF': {'TOTAL_NUMBER': 1, 'FROM_NUMBER': 1, 'TO_NUMBER': 1}, 'TABLE_INF': {'@id': '0000020201', 'STAT_NAME': {'@code': '00200502', '$': '社会・人口統計体系'}, 'GOV_ORG': {'@code': '00200', '$': '総務省'}, 'STATISTICS_NAME': '市区町村データ 基礎データ（廃置分合処理済）', 'TITLE': {'@no': '0000020201', '$': 'Ａ\u3000人口・世帯'}, 'CYCLE': '年度次', 'SURVEY_DATE': 0, 'OPEN_DATE': '2022-06-21', 'SMALL_AREA': 0, 'MAIN_CATEGORY': {'@code': '99', '$': 'その他'}, 'SUB_CATEGORY': {'@code': '99', '$': 'その他'}, 'OVERALL_TOTAL_NUMBER': 1567404, 'UPDATED_DATE': '2022-06-21', 'STATISTICS_NAME_SPEC': {'TABULATION_CATEGORY': '市区町村データ', 'TABULATION_SUB_CATEGORY1': '基礎データ（廃置分合処理済）'}, 'TITLE_SPEC': {'TABLE_NAME': 'Ａ\u3000人口・世帯'}}, 'CLASS_INF': {'CLASS_OBJ': [{'@id': 'tab', '@name': '観測値', 'CLASS': {'@code': '00001', '@name': '観測値', '@level': '1'}}, {'@id': 'cat01', '@name': 'Ａ\u3000人口・世帯', 'CLASS': {'@code': 'A1101', '@name': 'A1101_総人口', '@level': '1', '@unit': '人'}}, {'@id': 'area', '@name': '地域', 'CLASS': {'@code': '28100', '@name': '兵庫県 神戸市', '@level': '2', '@parentCode': '28000'}}, {'@id': 'time', '@name': '調査年', 'CLASS': {'@code': '1980100000', '@name': '1980年度', '@level': '1'}}]}, 'DATA_INF': {'NOTE': [{'@char': '***', '$': '調査又は集計していないもの'}, {'@char': '-', '$': 'データが得られないもの'}, {'@char': 'X', '$': '数値が秘匿されているもの'}], 'VALUE': {'@tab': '00001', '@cat01': 'A1101', '@area': '28100', '@time': '1980100000', '@unit': '人', '$': '1367390'}}}}}

## times

In [43]:
def times(res):
  VALUE = res['GET_STATS_DATA']['STATISTICAL_DATA']['DATA_INF']['VALUE']
  return [d.get('@time') for d in VALUE]

In [44]:
times(res)

['1980100000',
 '1985100000',
 '1990100000',
 '1995100000',
 '2000100000',
 '2005100000',
 '2010100000',
 '2015100000']

# 都道府県ランキング

In [115]:
import pandas as pd

def df_prefecture(params):

  # e-statレスポンス取得
  res = get_estat_response(params)
  
  # VALUE
  VALUE = res['GET_STATS_DATA']['STATISTICAL_DATA']['DATA_INF']['VALUE']
  
  # format data
  def is_num(s) :
    return int(s) if int(s) else float(s)

  def format(x):
    x['@time'] = x.pop('@time')[:4]
    x['$'] = is_num(x.pop('$'))
    return x

  data = list(map(format, VALUE))


  # 年次ごとに作業
  times = list(dict.fromkeys([d.get('@time') for d in data]))
  for time in times:
    d = list(filter(lambda item : item['@time'] == time, data))

    df = pd.DataFrame(d)
    df = df.rename(columns={'@cat01': 'categoryCode', '@area': 'areaCode', '@unit': 'unit', '@time': 'time', ' $': 'value'})
    df['rankJapan'] = df.rank(numeric_only=True).astype(int)

    # print(df.rank(numeric_only=True))

    print(df)


  return times

In [117]:
params = {
    'statsDataId': '0000010101',
    'cdCat01': 'A1101',
    'cdArea': ",".join(prefCodes()),
    }

df_prefecture(params)

     @tab categoryCode areaCode unit  time         $  rankJapan
0   00001        A1101    01000    人  1975   5338206         43
1   00001        A1101    02000    人  1975   1468646         21
2   00001        A1101    03000    人  1975   1385563         19
3   00001        A1101    04000    人  1975   1955267         31
4   00001        A1101    05000    人  1975   1232481         18
5   00001        A1101    06000    人  1975   1220302         17
6   00001        A1101    07000    人  1975   1970616         32
7   00001        A1101    08000    人  1975   2342198         34
8   00001        A1101    09000    人  1975   1698003         25
9   00001        A1101    10000    人  1975   1756480         28
10  00001        A1101    11000    人  1975   4821340         41
11  00001        A1101    12000    人  1975   4149147         39
12  00001        A1101    13000    人  1975  11673554         47
13  00001        A1101    14000    人  1975   6397748         45
14  00001        A1101    15000    人  1975   2391938         35
15  00001        A1101    16000    人  1975   1070791         12
16  00001        A1101    17000    人  1975   1069872         11
17  00001        A1101    18000    人  1975    773599          3
18  00001        A1101    19000    人  1975    783050          4
19  00001        A1101    20000    人  1975   2017564         33
20  00001        A1101    21000    人  1975   1867978         30
21  00001        A1101    22000    人  1975   3308799         38
22  00001        A1101    23000    人  1975   5923569         44
23  00001        A1101    24000    人  1975   1626002         24
24  00001        A1101    25000    人  1975    985621          9
25  00001        A1101    26000    人  1975   2424856         36
26  00001        A1101    27000    人  1975   8278925         46
27  00001        A1101    28000    人  1975   4992140         42
28  00001        A1101    29000    人  1975   1077491         14
29  00001        A1101    30000    人  1975   1072118         13
30  00001        A1101    31000    人  1975    581311          1
31  00001        A1101    32000    人  1975    768886          2
32  00001        A1101    33000    人  1975   1814305         29
33  00001        A1101    34000    人  1975   2646324         37
34  00001        A1101    35000    人  1975   1555218         22
35  00001        A1101    36000    人  1975    805166          5
36  00001        A1101    37000    人  1975    961292          8
37  00001        A1101    38000    人  1975   1465215         20
38  00001        A1101    39000    人  1975    808397          6
39  00001        A1101    40000    人  1975   4292963         40
40  00001        A1101    41000    人  1975    837674          7
41  00001        A1101    42000    人  1975   1571912         23
42  00001        A1101    43000    人  1975   1715273         26
43  00001        A1101    44000    人  1975   1190314         16
44  00001        A1101    45000    人  1975   1085055         15
45  00001        A1101    46000    人  1975   1723902         27
46  00001        A1101    47000    人  1975   1042572         10
     @tab categoryCode areaCode unit  time         $  rankJapan
0   00001        A1101    01000    人  1976   5395000         43
1   00001        A1101    02000    人  1976   1484000         21
2   00001        A1101    03000    人  1976   1395000         19
3   00001        A1101    04000    人  1976   1984000         31
4   00001        A1101    05000    人  1976   1239000         18
5   00001        A1101    06000    人  1976   1227000         17
6   00001        A1101    07000    人  1976   1984000         31
7   00001        A1101    08000    人  1976   2380000         34
8   00001        A1101    09000    人  1976   1717000         25
9   00001        A1101    10000    人  1976   1778000         28
10  00001        A1101    11000    人  1976   4964000         41
11  00001        A1101    12000    人  1976   4267000         39
12  00001        A1101    13000    人  1976  11674000         47
13  00001        A1101    14000    人  1976   6510000         45
14  00001        A1101    15000    人  1976   2406000         35
15  00001        A1101    16000    人  1976   1079000         12
16  00001        A1101    17000    人  1976   1082000         13
17  00001        A1101    18000    人  1976    779000          3
18  00001        A1101    19000    人  1976    787000          4
19  00001        A1101    20000    人  1976   2033000         33
20  00001        A1101    21000    人  1976   1889000         30
21  00001        A1101    22000    人  1976   3341000         38
22  00001        A1101    23000    人  1976   5988000         44
23  00001        A1101    24000    人  1976   1638000         24
24  00001        A1101    25000    人  1976   1006000          9
25  00001        A1101    26000    人  1976   2452000         36
26  00001        A1101    27000    人  1976   8330000         46
27  00001        A1101    28000    人  1976   5029000         42
28  00001        A1101    29000    人  1976   1098000         14
29  00001        A1101    30000    人  1976   1077000         11
30  00001        A1101    31000    人  1976    586000          1
31  00001        A1101    32000    人  1976    771000          2
32  00001        A1101    33000    人  1976   1829000         29
33  00001        A1101    34000    人  1976   2670000         37
34  00001        A1101    35000    人  1976   1564000         22
35  00001        A1101    36000    人  1976    809000          5
36  00001        A1101    37000    人  1976    970000          8
37  00001        A1101    38000    人  1976   1476000         20
38  00001        A1101    39000    人  1976    814000          6
39  00001        A1101    40000    人  1976   4353000         40
40  00001        A1101    41000    人  1976    842000          7
41  00001        A1101    42000    人  1976   1576000         23
42  00001        A1101    43000    人  1976   1731000         26
43  00001        A1101    44000    人  1976   1199000         16
44  00001        A1101    45000    人  1976   1100000         15
45  00001        A1101    46000    人  1976   1735000         27
46  00001        A1101    47000    人  1976   1058000         10
     @tab categoryCode areaCode unit  time         $  rankJapan
0   00001        A1101    01000    人  1977   5443000         43
1   00001        A1101    02000    人  1977   1496000         21
2   00001        A1101    03000    人  1977   1401000         19
3   00001        A1101    04000    人  1977   2008000         32
4   00001        A1101    05000    人  1977   1245000         18
5   00001        A1101    06000    人  1977   1234000         17
6   00001        A1101    07000    人  1977   1998000         31
7   00001        A1101    08000    人  1977   2417000         34
8   00001        A1101    09000    人  1977   1736000         25
9   00001        A1101    10000    人  1977   1799000         28
10  00001        A1101    11000    人  1977   5091000         42
11  00001        A1101    12000    人  1977   4382000         39
12  00001        A1101    13000    人  1977  11669000         47
13  00001        A1101    14000    人  1977   6616000         45
14  00001        A1101    15000    人  1977   2417000         34
15  00001        A1101    16000    人  1977   1085000         12
16  00001        A1101    17000    人  1977   1091000         13
17  00001        A1101    18000    人  1977    783000          3
18  00001        A1101    19000    人  1977    792000          4
19  00001        A1101    20000    人  1977   2048000         33
20  00001        A1101    21000    人  1977   1909000         30
21  00001        A1101    22000    人  1977   3368000         38
22  00001        A1101    23000    人  1977   6052000         44
23  00001        A1101    24000    人  1977   1649000         24
24  00001        A1101    25000    人  1977   1026000          9
25  00001        A1101    26000    人  1977   2474000         36
26  00001        A1101    27000    人  1977   8373000         46
27  00001        A1101    28000    人  1977   5063000         41
28  00001        A1101    29000    人  1977   1124000         15
29  00001        A1101    30000    人  1977   1080000         11
30  00001        A1101    31000    人  1977    591000          1
31  00001        A1101    32000    人  1977    775000          2
32  00001        A1101    33000    人  1977   1840000         29
33  00001        A1101    34000    人  1977   2689000         37
34  00001        A1101    35000    人  1977   1573000         22
35  00001        A1101    36000    人  1977    813000          5
36  00001        A1101    37000    人  1977    979000          8
37  00001        A1101    38000    人  1977   1486000         20
38  00001        A1101    39000    人  1977    819000          6
39  00001        A1101    40000    人  1977   4411000         40
40  00001        A1101    41000    人  1977    848000          7
41  00001        A1101    42000    人  1977   1582000         23
42  00001        A1101    43000    人  1977   1747000         26
43  00001        A1101    44000    人  1977   1207000         16
44  00001        A1101    45000    人  1977   1114000         14
45  00001        A1101    46000    人  1977   1747000         26
46  00001        A1101    47000    人  1977   1071000         10
     @tab categoryCode areaCode unit  time         $  rankJapan
0   00001        A1101    01000    人  1978   5490000         43
1   00001        A1101    02000    人  1978   1507000         21
2   00001        A1101    03000    人  1978   1409000         19
3   00001        A1101    04000    人  1978   2032000         32
4   00001        A1101    05000    人  1978   1250000         18
5   00001        A1101    06000    人  1978   1241000         17
6   00001        A1101    07000    人  1978   2012000         31
7   00001        A1101    08000    人  1978   2463000         35
8   00001        A1101    09000    人  1978   1753000         25
9   00001        A1101    10000    人  1978   1817000         28
10  00001        A1101    11000    人  1978   5208000         42
11  00001        A1101    12000    人  1978   4508000         40
12  00001        A1101    13000    人  1978  11659000         47
13  00001        A1101    14000    人  1978   6728000         45
14  00001        A1101    15000    人  1978   2428000         34
15  00001        A1101    16000    人  1978   1092000         12
16  00001        A1101    17000    人  1978   1100000         13
17  00001        A1101    18000    人  1978    787000          3
18  00001        A1101    19000    人  1978    796000          4
19  00001        A1101    20000    人  1978   2062000         33
20  00001        A1101    21000    人  1978   1927000         30
21  00001        A1101    22000    人  1978   3396000         38
22  00001        A1101    23000    人  1978   6115000         44
23  00001        A1101    24000    人  1978   1661000         24
24  00001        A1101    25000    人  1978   1043000          9
25  00001        A1101    26000    人  1978   2494000         36
26  00001        A1101    27000    人  1978   8412000         46
27  00001        A1101    28000    人  1978   5093000         41
28  00001        A1101    29000    人  1978   1152000         15
29  00001        A1101    30000    人  1978   1084000         11
30  00001        A1101    31000    人  1978    595000          1
31  00001        A1101    32000    人  1978    779000          2
32  00001        A1101    33000    人  1978   1850000         29
33  00001        A1101    34000    人  1978   2703000         37
34  00001        A1101    35000    人  1978   1579000         22
35  00001        A1101    36000    人  1978    818000          5
36  00001        A1101    37000    人  1978    986000          8
37  00001        A1101    38000    人  1978   1493000         20
38  00001        A1101    39000    人  1978    824000          6
39  00001        A1101    40000    人  1978   4460000         39
40  00001        A1101    41000    人  1978    854000          7
41  00001        A1101    42000    人  1978   1587000         23
42  00001        A1101    43000    人  1978   1763000         27
43  00001        A1101    44000    人  1978   1215000         16
44  00001        A1101    45000    人  1978   1127000         14
45  00001        A1101    46000    人  1978   1760000         26
46  00001        A1101    47000    人  1978   1081000         10
     @tab categoryCode areaCode unit  time         $  rankJapan
0   00001        A1101    01000    人  1979   5535000         43
1   00001        A1101    02000    人  1979   1516000         21
2   00001        A1101    03000    人  1979   1416000         19
3   00001        A1101    04000    人  1979   2059000         32
4   00001        A1101    05000    人  1979   1254000         18
5   00001        A1101    06000    人  1979   1247000         17
6   00001        A1101    07000    人  1979   2023000         31
7   00001        A1101    08000    人  1979   2510000         35
8   00001        A1101    09000    人  1979   1775000         26
9   00001        A1101    10000    人  1979   1833000         28
10  00001        A1101    11000    人  1979   5318000         42
11  00001        A1101    12000    人  1979   4626000         40
12  00001        A1101    13000    人  1979  11637000         47
13  00001        A1101    14000    人  1979   6832000         45
14  00001        A1101    15000    人  1979   2439000         34
15  00001        A1101    16000    人  1979   1098000         12
16  00001        A1101    17000    人  1979   1110000         13
17  00001        A1101    18000    人  1979    791000          3
18  00001        A1101    19000    人  1979    800000          4
19  00001        A1101    20000    人  1979   2074000         33
20  00001        A1101    21000    人  1979   1943000         30
21  00001        A1101    22000    人  1979   3423000         38
22  00001        A1101    23000    人  1979   6171000         44
23  00001        A1101    24000    人  1979   1672000         24
24  00001        A1101    25000    人  1979   1061000          9
25  00001        A1101    26000    人  1979   2512000         36
26  00001        A1101    27000    人  1979   8445000         46
27  00001        A1101    28000    人  1979   5119000         41
28  00001        A1101    29000    人  1979   1181000         15
29  00001        A1101    30000    人  1979   1086000         10
30  00001        A1101    31000    人  1979    600000          1
31  00001        A1101    32000    人  1979    782000          2
32  00001        A1101    33000    人  1979   1861000         29
33  00001        A1101    34000    人  1979   2717000         37
34  00001        A1101    35000    人  1979   1583000         22
35  00001        A1101    36000    人  1979    822000          5
36  00001        A1101    37000    人  1979    993000          8
37  00001        A1101    38000    人  1979   1500000         20
38  00001        A1101    39000    人  1979    829000          6
39  00001        A1101    40000    人  1979   4506000         39
40  00001        A1101    41000    人  1979    860000          7
41  00001        A1101    42000    人  1979   1588000         23
42  00001        A1101    43000    人  1979   1777000         27
43  00001        A1101    44000    人  1979   1223000         16
44  00001        A1101    45000    人  1979   1141000         14
45  00001        A1101    46000    人  1979   1773000         25
46  00001        A1101    47000    人  1979   1094000         11
     @tab categoryCode areaCode unit  time         $  rankJapan
0   00001        A1101    01000    人  1980   5575989         43
1   00001        A1101    02000    人  1980   1523907         21
2   00001        A1101    03000    人  1980   1421927         19
3   00001        A1101    04000    人  1980   2082320         32
4   00001        A1101    05000    人  1980   1256745         18
5   00001        A1101    06000    人  1980   1251917         17
6   00001        A1101    07000    人  1980   2035272         31
7   00001        A1101    08000    人  1980   2558007         36
8   00001        A1101    09000    人  1980   1792201         27
9   00001        A1101    10000    人  1980   1848562         28
10  00001        A1101    11000    人  1980   5420480         42
11  00001        A1101    12000    人  1980   4735424         40
12  00001        A1101    13000    人  1980  11618281         47
13  00001        A1101    14000    人  1980   6924348         45
14  00001        A1101    15000    人  1980   2451357         34
15  00001        A1101    16000    人  1980   1103459         11
16  00001        A1101    17000    人  1980   1119304         13
17  00001        A1101    18000    人  1980    794354          3
18  00001        A1101    19000    人  1980    804256          4
19  00001        A1101    20000    人  1980   2083934         33
20  00001        A1101    21000    人  1980   1960107         30
21  00001        A1101    22000    人  1980   3446804         38
22  00001        A1101    23000    人  1980   6221638         44
23  00001        A1101    24000    人  1980   1686936         24
24  00001        A1101    25000    人  1980   1079898          9
25  00001        A1101    26000    人  1980   2527330         35
26  00001        A1101    27000    人  1980   8473446         46
27  00001        A1101    28000    人  1980   5144892         41
28  00001        A1101    29000    人  1980   1209365         15
29  00001        A1101    30000    人  1980   1087012         10
30  00001        A1101    31000    人  1980    604221          1
31  00001        A1101    32000    人  1980    784795          2
32  00001        A1101    33000    人  1980   1871023         29
33  00001        A1101    34000    人  1980   2739161         37
34  00001        A1101    35000    人  1980   1587079         22
35  00001        A1101    36000    人  1980    825261          5
36  00001        A1101    37000    人  1980    999864          8
37  00001        A1101    38000    人  1980   1506637         20
38  00001        A1101    39000    人  1980    831275          6
39  00001        A1101    40000    人  1980   4553461         39
40  00001        A1101    41000    人  1980    865574          7
41  00001        A1101    42000    人  1980   1590564         23
42  00001        A1101    43000    人  1980   1790327         26
43  00001        A1101    44000    人  1980   1228913         16
44  00001        A1101    45000    人  1980   1151587         14
45  00001        A1101    46000    人  1980   1784623         25
46  00001        A1101    47000    人  1980   1106559         12
     @tab categoryCode areaCode unit  time         $  rankJapan
0   00001        A1101    01000    人  1981   5605000         43
1   00001        A1101    02000    人  1981   1526000         21
2   00001        A1101    03000    人  1981   1426000         19
3   00001        A1101    04000    人  1981   2104000         33
4   00001        A1101    05000    人  1981   1259000         18
5   00001        A1101    06000    人  1981   1255000         17
6   00001        A1101    07000    人  1981   2043000         31
7   00001        A1101    08000    人  1981   2595000         36
8   00001        A1101    09000    人  1981   1807000         27
9   00001        A1101    10000    人  1981   1864000         28
10  00001        A1101    11000    人  1981   5520000         42
11  00001        A1101    12000    人  1981   4834000         40
12  00001        A1101    13000    人  1981  11626000         47
13  00001        A1101    14000    人  1981   7022000         45
14  00001        A1101    15000    人  1981   2459000         34
15  00001        A1101    16000    人  1981   1106000         11
16  00001        A1101    17000    人  1981   1127000         13
17  00001        A1101    18000    人  1981    798000          3
18  00001        A1101    19000    人  1981    809000          4
19  00001        A1101    20000    人  1981   2093000         32
20  00001        A1101    21000    人  1981   1975000         30
21  00001        A1101    22000    人  1981   3472000         38
22  00001        A1101    23000    人  1981   6266000         44

['1975',
 '1976',
 '1977',
 '1978',
 '1979',
 '1980',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019']

DataFrameを整形する関数

In [ ]:
ESTAT_APPID = '724e5b90772a3e9289f41a253e4e7e32438f4fff'

import urllib.parse
import urllib.request
import json
import pandas as pd

"""
estat-APIのレスポンスを整形してDataFrameに変換
"""

def get_estat_dataframe(params):
  res = get_estat_response(params)
  df_res = conv_estat_response_to_dataframe(res)
  df_res = format_estat_dataframe(df_res)

  return df_res

"""
estat-APIのレスポンスを取得する関数
"""

def get_estat_response(params):
  p = params.copy()

  # appId
  p['appId'] = ESTAT_APPID
  
  # url生成
  url = 'http://api.e-stat.go.jp/rest/2.1/app/json/getStatsData?'
  url += urllib.parse.urlencode(p)

  with urllib.request.urlopen(url) as response:
    return json.loads(response.read().decode('utf-8'))


"""
estat-APIのレスポンスをDataFrameに変換する
"""

def conv_estat_response_to_dataframe(response):

  # VALUEをDataFrameに変換
  VALUE = response['GET_STATS_DATA']['STATISTICAL_DATA']['DATA_INF']['VALUE']
  df = pd.json_normalize(VALUE)

  # CLASS_OBJのDataFrameを結合
  CLASS_OBJ = response['GET_STATS_DATA']['STATISTICAL_DATA']['CLASS_INF']['CLASS_OBJ']
  for d in CLASS_OBJ :
    # DataFrameに変換 '@code','@name'だけ抽出
    df_class = pd.json_normalize(d['CLASS']) 
    df_class = df_class.copy()[['@code','@name']]

    # @codeをキー名に変更 @nameをキー名＋'_name'に変更
    key_name = '@{}'.format(d['@id'])
    df_class = df_class.rename(columns={'@code':key_name,'@name': key_name+'_name'})

    # DataFrameを結合
    df = pd.merge(df, df_class, on=key_name, how='outer')

  # 統計情報を追加
  TABLE_INF = response['GET_STATS_DATA']['STATISTICAL_DATA']['TABLE_INF']
  df['statsDataId'] = TABLE_INF['@id']
  df['statsDataName'] = TABLE_INF['STAT_NAME']['$']
  
  return df

"""
DataFrameを整形する
"""

def  format_estat_dataframe(df_arg):

  # 列を抽出して名前変更
  df =  df_arg[['statsDataId','statsDataName','@cat01','@cat01_name','@time','@time_name','@area','$','@unit']]
  df = df.rename(columns = {'@cat01':'categoryCode','@cat01_name':'categoryName','@time':'timeCode','@time_name':'timeName','@area':'areaCode','$':'value','@unit':'unit'})

  # 欠損データ削除
  df = df.dropna(subset=['categoryCode'])

  # categoryNameから不要な情報（categoryCode）を削除
  df['categoryName'] = df.apply(lambda x: x['categoryName'].replace(x['categoryCode']+'_', ''), 1)

  # timeCodeを文字列4桁に置換
  df['timeCode'] = df['timeCode'].astype(str)
  df['timeCode'] = df.apply(lambda x: x['timeCode'][:4], 1)
  
  # 地域情報をマージ
  with open('drive/MyDrive/statistics-hyogo/resas/arealist.json') as j:
    arealist = json.load(j)
    df_arealist = pd.json_normalize(arealist)  
  df = pd.merge(df, df_arealist, on='areaCode', how='right')


  df = df.dropna(subset=['categoryCode'])

  # '-'を'0'に置換
  df = df.replace({'value': {'-': '0'}})
  df = df.replace({'value': {'X': '0'}})

  return df

In [ ]:
params = {
    'statsDataId': '0000010101',
    'cdCat01':'A1101',
}

df = get_estat_dataframe(params)
df

# ランキングの付与

In [ ]:
!pip install pandas-gbq

BigQueryのテーブルをDataFrameに格納

In [ ]:
import pandas as pd

def get_gbq(table_id):
  project_id='primal-buttress-342908'
  dataset_id = 'contents'  
  query = f'SELECT * FROM `{project_id}.{dataset_id}.{table_id}`'
  
  return pd.read_gbq(query, project_id, dialect='standard')

ランキングの付与

In [ ]:
"""
都道府県のランキングを付与する関数
"""
def withrank_prefecture(df_arg):

  # 年度リスト、カテゴリリストの作成
  times = list(set(df_arg['timeCode'].tolist()))
  categories = list(set(df_arg['categoryCode'].tolist()))

  # 返却するDataFrameの定義
  df_res = pd.DataFrame(index=[], columns=[])

  for time in times:
    for category in categories:
      df = df_arg.copy()
      df = df[df['timeCode'] == time][df['categoryCode'] == category]
      
      # valueを数値に変換して、'rank'を付与
      df = df.astype({'value': float})
      df['rankJapan'] = df.rank(ascending=False)['value'].astype(int).astype(str)
      
      # 結合
      df_res = pd.concat([df_res, df])
  
  return df_res

In [ ]:
table_id = 'total-population-prefecture'
df = get_gbq(table_id)
df_rank = withrank_prefecture(df)
df_rank

In [ ]:
"""
市区町村のランキングを付与する関数
"""
def withrank_city(df_arg):
  print(f'基のDataDrameは{len(df_arg)}行')

  # 年度リスト、カテゴリリストの作成
  times = list(set(df_arg['timeCode'].tolist()))
  categories = list(set(df_arg['categoryCode'].tolist()))
  prefs = list(set(df_arg['prefCode'].tolist()))
  print(prefs)

  # ランキングDataFrameを作成
  df_rank = pd.DataFrame(index=[], columns=[])
  for time in times:
    for category in categories:

      # DataFrameの抽出
      df = df_arg.copy()
      df = df[df['timeCode'] == time][df['categoryCode'] == category]
      df = df[df['bigCityFlag'] != '1']

      # valueを数値に変換して、'rank'を付与
      df = df.astype({'value': float})
      df['rankJapan'] = df.rank(ascending=False)['value'].astype(int).astype(str)
      
      # 必要な列だけ結合
      df = df[['timeCode','categoryCode','areaCode','rankJapan']]
      df_rank = pd.concat([df_rank, df])
  
  # 基のDataFrameにマージ
  df_res = df_arg.copy()
  df_res = pd.merge(df_res, df_rank, on=['timeCode','categoryCode','areaCode'], how='left')


  # ランキングDataFrameを作成
  df_rank = pd.DataFrame(index=[], columns=[])
  for time in times:
    for category in categories:
      for pref in prefs:
        # DataFrameの抽出
        df = df_arg.copy()
        df = df[df['timeCode'] == time][df['categoryCode'] == category]
        df = df[df['bigCityFlag'] != '1']
        df = df[df['prefCode'] == pref]

        # valueを数値に変換して、'rank'を付与
        df = df.astype({'value': float})
        df['rankPref'] = df.rank(ascending=False)['value'].astype(int).astype(str)
      
        # 必要な列だけ結合
        df = df[['timeCode','categoryCode','areaCode','rankPref']]
        df_rank = pd.concat([df_rank, df])

  df_res = pd.merge(df_res, df_rank, on=['timeCode','categoryCode','areaCode'], how='left')
  return df_res

In [ ]:
table_id = 'total-population-city'
df = get_gbq(table_id)
df_rank = withrank_city(df)
df_rank

NameError: ignored

In [ ]:
from google.cloud import bigquery
from google.cloud.exceptions import NotFound

# 統計カード一覧を取得
with open('/content/drive/MyDrive/statistics-hyogo/contents/statistics-cards.json') as j:
  cardlist = json.load(j)

for card in cardlist:

  # BigQueryのテーブル定義
  project_id='primal-buttress-342908'
  dataset_id = 'contents'
  table_id= card['cardId']

  client = bigquery.Client()

  try:
    client.get_table(f'{project_id}.{dataset_id}.{table_id}')  
    print("Table {} already exists.".format(table_id))

  except NotFound:
    estatParams = card['estatParams']
    governmentType = card['governmentType']
    # print(governmentType)

    df = get_estat_dataframe(estatParams)

    if governmentType == 'prefecture':
      df = withrank_prefecture(df)
      print(f'{table_id}のデータを作成しています')
      print(estatParams)
    else:
      df = withrank_city(df)
    
    df.to_gbq(f'{dataset_id}.{table_id}', project_id=project_id, if_exists="replace")
    
    print(estatParams)
    print(f'{table_id}を保存しました')