# 事前準備

## Googleドライブのマウント

In [24]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## ライブラリ

In [1]:
!pip install --upgrade xlrd==1.2.0
!pip install openpyxl
!pip install xlwt

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlrd==1.2.0 in /usr/local/lib/python3.8/dist-packages (1.2.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: openpyxl in /usr/local/lib/python3.8/dist-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.8/dist-packages (from openpyxl) (1.1.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlwt in /usr/local/lib/python3.8/dist-packages (1.3.0)

## 地域一覧

In [33]:
import json
import pandas as pd

def df_areas(params={}):
  with open('drive/MyDrive/statistics-hyogo/resas/arealist.json') as j:
    areas = json.load(j)

    if params:
      for p in params.keys():
        areas = list(filter(lambda x: x[p] == params[p], areas))
    
    return pd.DataFrame(areas)

In [32]:
df_areas()

,index,prefCode,prefName,cityCode,cityName,bigCityFlag,areaCode,areaName,governmentType
0,0,1,北海道,01100,札幌市,2,01100,札幌市,city
1,1,1,北海道,01101,札幌市中央区,1,01101,札幌市中央区,city
2,2,1,北海道,01102,札幌市北区,1,01102,札幌市北区,city
3,3,1,北海道,01103,札幌市東区,1,01103,札幌市東区,city
4,4,1,北海道,01104,札幌市白石区,1,01104,札幌市白石区,city
...,...,...,...,...,...,...,...,...,...
1964,42,43,熊本県,None,None,None,43000,熊本県,prefecture
1965,43,44,大分県,None,None,None,44000,大分県,prefecture
1966,44,45,宮崎県,None,None,None,45000,宮崎県,prefecture
1967,45,46,鹿児島県,None,None,None,46000,鹿児島県,prefecture
1968,46,47,沖縄県,None,None,None,47000,沖縄県,prefecture

# データ取得

In [69]:
import pandas as pd

def get_excel(params):
  # ブックの指定
  input_file_name = params['url']
  input_book = pd.ExcelFile(input_file_name)
  
  input_sheet_name = input_book.sheet_names
  df = input_book.parse(input_sheet_name[0],skiprows = 0)

  a = params['areaName']
  b = params['value']
  columns = {f'Unnamed: {a}': 'areaName',f'Unnamed: {b}': params['time'],}
  df = df[list(columns.keys())].rename(columns = columns)
  
  # 行の整理
  r = params['firstRow']
  df = df[r:]
  
  # 欠損行の削除
  df = df.dropna()

  return df

## 1995年

[都道府県](https://www.e-stat.go.jp/stat-search/files?page=1&layout=datalist&toukei=00200241&tstat=000001039591&cycle=7&year=19950&month=0&tclass1=000001039601&result_back=1&tclass2val=0)

In [71]:
params = {
    'time': '1995年',
    'url': 'https://www.e-stat.go.jp/stat-search/file-download?statInfId=000008291540&fileKind=0',
    'areaName': 1, # 地域名の列
    'value': 4,      #　総人口の列
    'firstRow': 4,   # 最初の行
}

df = get_excel(params)
print(len(df))
df.head(5)

47

  areaName    1995年
4     北海道　  5675063
5     青森県　  1508045
6     岩手県　  1430332
7     宮城県　  2299396
8     秋田県　  1225868

[市区町村](https://www.e-stat.go.jp/stat-search/files?page=1&layout=datalist&toukei=00200241&tstat=000001039591&cycle=7&year=19950&month=0&tclass1=000001039601&result_back=1&tclass2val=0)

In [72]:
params = {
    'time': '1995年',
    'url': 'https://www.e-stat.go.jp/stat-search/file-download?statInfId=000008291542&fileKind=0',
    'areaName': 2, # 地域名の列
    'value': 5,      #　総人口の列
    'firstRow': 4,   # 最初の行
}


df = get_excel(params)
print(len(df))
df.head(5)

3881

  areaName    1995年
5      札幌市  1733133
6   札幌市中央区   166017
7    札幌市北区   247512
8    札幌市東区   238383
9   札幌市白石区   191150

## 1996年

都道府県

In [74]:
params = {
    'time': '1996年',
    'url': 'https://www.e-stat.go.jp/stat-search/file-download?statInfId=000008291536&fileKind=0',
    'areaName': 1, # 地域名の列
    'value': 4,      #　総人口の列
    'firstRow': 4,   # 最初の行
}

df = get_excel(params)
print(len(df))
df.head(5)

47

  areaName    1996年
4     北海道　  5684842
5     青森県　  1508720
6     岩手県　  1430118
7     宮城県　  2311572
8     秋田県　  1222018

市区町村

In [75]:
params = {
    'time': '1996年',
    'url': 'https://www.e-stat.go.jp/stat-search/file-download?statInfId=000008291538&fileKind=0',
    'areaName': 2, # 地域名の列
    'value': 5,      #　総人口の列
    'firstRow': 4,   # 最初の行
}
df = get_excel(params)
print(len(df))
df.head(5)

3879

  areaName    1996年
5      札幌市  1750627
6   札幌市中央区   167525
7    札幌市北区   249864
8    札幌市東区   241742
9   札幌市白石区   192269

## 1997年

都道府県

In [77]:
params = {
    'time': '1997年',
    'url': 'https://www.e-stat.go.jp/stat-search/file-download?statInfId=000008291532&fileKind=0',
    'areaName': 1, # 地域名の列
    'value': 4,      #　総人口の列
    'firstRow': 4,   # 最初の行
}

df = get_excel(params)
print(len(df))
df.head(5)

47

  areaName   19967年
4      北海道  5692055
5      青森県  1508353
6      岩手県  1430331
7      宮城県  2324066
8      秋田県  1218620

市区町村

In [78]:
params = {
    'time': '1997年',
    'url': 'https://www.e-stat.go.jp/stat-search/file-download?statInfId=000008291534&fileKind=0',
    'areaName': 2, # 地域名の列
    'value': 5,      #　総人口の列
    'firstRow': 4,   # 最初の行
}
df = get_excel(params)
print(len(df))
df.head(5)

3879

  areaName    1997年
5      札幌市  1768091
6   札幌市中央区   170349
7    札幌市北区   252298
8    札幌市東区   243459
9   札幌市白石区   193706

## 1998年

都道府県

In [79]:
params = {
    'time': '1998年',
    'url': 'https://www.e-stat.go.jp/stat-search/file-download?statInfId=000008291514&fileKind=0',
    'areaName': 1, # 地域名の列
    'value': 4,      #　総人口の列
    'firstRow': 4,   # 最初の行
}

df = get_excel(params)
print(len(df))
df.head(5)

47

  areaName    1998年
4      北海道  5693495
5      青森県  1506412
6      岩手県  1429752
7      宮城県  2333334
8      秋田県  1214254

市区町村

In [80]:
params = {
    'time': '1998年',
    'url': 'https://www.e-stat.go.jp/stat-search/file-download?statInfId=000008291534&fileKind=0',
    'areaName': 2, # 地域名の列
    'value': 5,      #　総人口の列
    'firstRow': 4,   # 最初の行
}
df = get_excel(params)
print(len(df))
df.head(5)

3879

  areaName    1998年
5      札幌市  1768091
6   札幌市中央区   170349
7    札幌市北区   252298
8    札幌市東区   243459
9   札幌市白石区   193706

## 1999年

都道府県

In [81]:
params = {
    'time': '1998年',
    'url': 'https://www.e-stat.go.jp/stat-search/file-download?statInfId=000008291509&fileKind=0',
    'areaName': 1, # 地域名の列
    'value': 4,      #　総人口の列
    'firstRow': 4,   # 最初の行
}

df = get_excel(params)
print(len(df))
df.head(5)

47

  areaName    1998年
4      北海道  5691737
5      青森県  1504358
6      岩手県  1427987
7      宮城県  2340145
8      秋田県  1209196

市区町村

In [82]:
params = {
    'time': '1999年',
    'url': 'https://www.e-stat.go.jp/stat-search/file-download?statInfId=000008291511&fileKind=0',
    'areaName': 2, # 地域名の列
    'value': 5,      #　総人口の列
    'firstRow': 4,   # 最初の行
}
df = get_excel(params)
print(len(df))
df.head(5)

3880

  areaName    1999年
5      札幌市  1792167
6   札幌市中央区   173214
7    札幌市北区   255796
8    札幌市東区   246335
9   札幌市白石区   194237

## 2022年

都道府県

In [84]:
params = {
    'time': '2022年',
    'url': 'https://www.e-stat.go.jp/stat-search/file-download?statInfId=000032224634&fileKind=0',
    'areaName': 1, # 地域名の列
    'value': 4,      #　総人口の列
    'firstRow': 6,   # 最初の行
}

df = get_excel(params)
print(len(df))
df.head(5)

47

   areaName    2022年
6       北海道  5183687
7       青森県  1243081
8       岩手県  1206479
9       宮城県  2268355
10      秋田県   956836

市区町村

In [88]:
params = {
    'time': '1999年',
    'url': 'https://www.e-stat.go.jp/stat-search/file-download?statInfId=000032224636&fileKind=0',
    'areaName': 2, # 地域名の列
    'value': 5,      #　総人口の列
    'firstRow': 7,   # 最初の行
}
df = get_excel(params)
print(len(df))
df.head(5)

2276

   areaName    1999年
7       札幌市  1960668
8    札幌市中央区   241244
9     札幌市北区   285887
10    札幌市東区   261971
11   札幌市白石区   213280

## 2021年

都道府県

In [90]:
params = {
    'time': '2021年',
    'url': 'https://www.e-stat.go.jp/stat-search/file-download?statInfId=000032110815&fileKind=0',
    'areaName': 1, # 地域名の列
    'value': 4,      #　総人口の列
    'firstRow': 6,   # 最初の行
}

df = get_excel(params)
print(len(df))
df.head(5)

47

   areaName    2021年
6       北海道  5228732
7       青森県  1260067
8       岩手県  1221205
9       宮城県  2282106
10      秋田県   971604

市区町村

In [ ]:
params = {
    'time': '1999年',
    'url': 'https://www.e-stat.go.jp/stat-search/file-download?statInfId=000032224636&fileKind=0',
    'areaName': 2, # 地域名の列
    'value': 5,      #　総人口の列
    'firstRow': 7,   # 最初の行
}
df = get_excel(params)
print(len(df))
df.head(5)