# 事前準備

## Google Drive

Google Driveをマウント

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# e-statのレスポンスを取得

## レスポンスを取得する関数

In [16]:
import urllib.parse
import urllib.request
import json

def get_estat_response(params):
  # appId
  params['appId'] = '724e5b90772a3e9289f41a253e4e7e32438f4fff'
  
  # url生成
  url = 'http://api.e-stat.go.jp/rest/2.1/app/json/getStatsData?'
  url += urllib.parse.urlencode(params)

  with urllib.request.urlopen(url) as response:
    return json.loads(response.read().decode('utf-8'))

In [48]:
params = {
    'statsDataId': '0000020201',
    'cdCat01': 'A1101,A110101,A110102',
    'cdArea': '28100,28201',
    }

res = get_estat_response(params)
print(res)

{'GET_STATS_DATA': {'RESULT': {'STATUS': 0, 'ERROR_MSG': '正常に終了しました。', 'DATE': '2022-12-23T14:34:19.264+09:00'}, 'PARAMETER': {'LANG': 'J', 'STATS_DATA_ID': '0000020201', 'NARROWING_COND': {'CODE_CAT01_SELECT': 'A1101,A110101,A110102', 'CODE_AREA_SELECT': '28100,28201'}, 'DATA_FORMAT': 'J', 'START_POSITION': 1, 'METAGET_FLG': 'Y'}, 'STATISTICAL_DATA': {'RESULT_INF': {'TOTAL_NUMBER': 32, 'FROM_NUMBER': 1, 'TO_NUMBER': 32}, 'TABLE_INF': {'@id': '0000020201', 'STAT_NAME': {'@code': '00200502', '$': '社会・人口統計体系'}, 'GOV_ORG': {'@code': '00200', '$': '総務省'}, 'STATISTICS_NAME': '市区町村データ 基礎データ（廃置分合処理済）', 'TITLE': {'@no': '0000020201', '$': 'Ａ\u3000人口・世帯'}, 'CYCLE': '年度次', 'SURVEY_DATE': 0, 'OPEN_DATE': '2022-06-21', 'SMALL_AREA': 0, 'MAIN_CATEGORY': {'@code': '99', '$': 'その他'}, 'SUB_CATEGORY': {'@code': '99', '$': 'その他'}, 'OVERALL_TOTAL_NUMBER': 1567404, 'UPDATED_DATE': '2022-06-21', 'STATISTICS_NAME_SPEC': {'TABULATION_CATEGORY': '市区町村データ', 'TABULATION_SUB_CATEGORY1': '基礎データ（廃置分合処理済）'}, 'TITLE_SPEC': {'TABLE_NAME': 'Ａ\u3000人口・世帯'}}, 'CLASS_INF': {'CLASS_OBJ': [{'@id': 'tab', '@name': '観測値', 'CLASS': {'@code': '00001', '@name': '観測値', '@level': '1'}}, {'@id': 'cat01', '@name': 'Ａ\u3000人口・世帯', 'CLASS': [{'@code': 'A1101', '@name': 'A1101_総人口', '@level': '1', '@unit': '人'}, {'@code': 'A110101', '@name': 'A110101_総人口（男）', '@level': '1', '@unit': '人'}, {'@code': 'A110102', '@name': 'A110102_総人口（女）', '@level': '1', '@unit': '人'}]}, {'@id': 'area', '@name': '地域', 'CLASS': [{'@code': '28100', '@name': '兵庫県 神戸市', '@level': '2', '@parentCode': '28000'}, {'@code': '28201', '@name': '兵庫県 姫路市', '@level': '2', '@parentCode': '28000'}]}, {'@id': 'time', '@name': '調査年', 'CLASS': [{'@code': '1980100000', '@name': '1980年度', '@level': '1'}, {'@code': '1981100000', '@name': '1981年度', '@level': '1'}, {'@code': '1982100000', '@name': '1982年度', '@level': '1'}, {'@code': '1983100000', '@name': '1983年度', '@level': '1'}, {'@code': '1984100000', '@name': '1984年度', '@level': '1'}, {'@code': '1985100000', '@name': '1985年度', '@level': '1'}, {'@code': '1986100000', '@name': '1986年度', '@level': '1'}, {'@code': '1987100000', '@name': '1987年度', '@level': '1'}, {'@code': '1988100000', '@name': '1988年度', '@level': '1'}, {'@code': '1989100000', '@name': '1989年度', '@level': '1'}, {'@code': '1990100000', '@name': '1990年度', '@level': '1'}, {'@code': '1991100000', '@name': '1991年度', '@level': '1'}, {'@code': '1992100000', '@name': '1992年度', '@level': '1'}, {'@code': '1993100000', '@name': '1993年度', '@level': '1'}, {'@code': '1994100000', '@name': '1994年度', '@level': '1'}, {'@code': '1995100000', '@name': '1995年度', '@level': '1'}, {'@code': '1996100000', '@name': '1996年度', '@level': '1'}, {'@code': '1997100000', '@name': '1997年度', '@level': '1'}, {'@code': '1998100000', '@name': '1998年度', '@level': '1'}, {'@code': '1999100000', '@name': '1999年度', '@level': '1'}, {'@code': '2000100000', '@name': '2000年度', '@level': '1'}, {'@code': '2001100000', '@name': '2001年度', '@level': '1'}, {'@code': '2002100000', '@name': '2002年度', '@level': '1'}, {'@code': '2003100000', '@name': '2003年度', '@level': '1'}, {'@code': '2004100000', '@name': '2004年度', '@level': '1'}, {'@code': '2005100000', '@name': '2005年度', '@level': '1'}, {'@code': '2006100000', '@name': '2006年度', '@level': '1'}, {'@code': '2007100000', '@name': '2007年度', '@level': '1'}, {'@code': '2008100000', '@name': '2008年度', '@level': '1'}, {'@code': '2009100000', '@name': '2009年度', '@level': '1'}, {'@code': '2010100000', '@name': '2010年度', '@level': '1'}, {'@code': '2011100000', '@name': '2011年度', '@level': '1'}, {'@code': '2012100000', '@name': '2012年度', '@level': '1'}, {'@code': '2013100000', '@name': '2013年度', '@level': '1'}, {'@code': '2014100000', '@name': '2014年度', '@level': '1'}, {'@code': '2015100000', '@name': '2015年度', '@level': '1'}, {'@code': '2016100000', '@name': '2016年度', '@level': '1'}, {'@code': '2017100000', '@name': '2017年度', '@level': '1'}, {'@code': '2018100000', '@name': '2018年度', '@level': '1'}, {'@code': '2019100000', '@name': '2019年度', '@level': '1'}, {'@code': '2020100000', '@name': '2020年度', '@level': '1'}]}]}, 'DATA_INF': {'NOTE': [{'@char': '***', '$': '調査又は集計していないもの'}, {'@char': '-', '$': 'データが得られないもの'}, {'@char': 'X', '$': '数値が秘匿されているもの'}], 'VALUE': [{'@tab': '00001', '@cat01': 'A1101', '@area': '28100', '@time': '1980100000', '@unit': '人', '$': '1367390'}, {'@tab': '00001', '@cat01': 'A1101', '@area': '28100', '@time': '1985100000', '@unit': '人', '$': '1410834'}, {'@tab': '00001', '@cat01': 'A1101', '@area': '28100', '@time': '1990100000', '@unit': '人', '$': '1477410'}, {'@tab': '00001', '@cat01': 'A1101', '@area': '28100', '@time': '1995100000', '@unit': '人', '$': '1423792'}, {'@tab': '00001', '@cat01': 'A1101', '@area': '28100', '@time': '2000100000', '@unit': '人', '$': '1493398'}, {'@tab': '00001', '@cat01': 'A1101', '@area': '28100', '@time': '2005100000', '@unit': '人', '$': '1525393'}, {'@tab': '00001', '@cat01': 'A1101', '@area': '28100', '@time': '2010100000', '@unit': '人', '$': '1544200'}, {'@tab': '00001', '@cat01': 'A1101', '@area': '28100', '@time': '2015100000', '@unit': '人', '$': '1537272'}, {'@tab': '00001', '@cat01': 'A1101', '@area': '28201', '@time': '1980100000', '@unit': '人', '$': '494825'}, {'@tab': '00001', '@cat01': 'A1101', '@area': '28201', '@time': '1985100000', '@unit': '人', '$': '506101'}, {'@tab': '00001', '@cat01': 'A1101', '@area': '28201', '@time': '1990100000', '@unit': '人', '$': '509129'}, {'@tab': '00001', '@cat01': 'A1101', '@area': '28201', '@time': '1995100000', '@unit': '人', '$': '527854'}, {'@tab': '00001', '@cat01': 'A1101', '@area': '28201', '@time': '2000100000', '@unit': '人', '$': '534969'}, {'@tab': '00001', '@cat01': 'A1101', '@area': '28201', '@time': '2005100000', '@unit': '人', '$': '536232'}, {'@tab': '00001', '@cat01': 'A1101', '@area': '28201', '@time': '2010100000', '@unit': '人', '$': '536270'}, {'@tab': '00001', '@cat01': 'A1101', '@area': '28201', '@time': '2015100000', '@unit': '人', '$': '535664'}, {'@tab': '00001', '@cat01': 'A110101', '@area': '28100', '@time': '2000100000', '@unit': '人', '$': '713684'}, {'@tab': '00001', '@cat01': 'A110101', '@area': '28100', '@time': '2005100000', '@unit': '人', '$': '724427'}, {'@tab': '00001', '@cat01': 'A110101', '@area': '28100', '@time': '2010100000', '@unit': '人', '$': '731114'}, {'@tab': '00001', '@cat01': 'A110101', '@area': '28100', '@time': '2015100000', '@unit': '人', '$': '726700'}, {'@tab': '00001', '@cat01': 'A110101', '@area': '28201', '@time': '2000100000', '@unit': '人', '$': '258299'}, {'@tab': '00001', '@cat01': 'A110101', '@area': '28201', '@time': '2005100000', '@unit': '人', '$': '258607'}, {'@tab': '00001', '@cat01': 'A110101', '@area': '28201', '@time': '2010100000', '@unit': '人', '$': '259320'}, {'@tab': '00001', '@cat01': 'A110101', '@area': '28201', '@time': '2015100000', '@unit': '人', '$': '258724'}, {'@tab': '00001', '@cat01': 'A110102', '@area': '28100', '@time': '2000100000', '@unit': '人', '$': '779714'}, {'@tab': '00001', '@cat01': 'A110102', '@area': '28100', '@time': '2005100000', '@unit': '人', '$': '800966'}, {'@tab': '00001', '@cat01': 'A110102', '@area': '28100', '@time': '2010100000', '@unit': '人', '$': '813086'}, {'@tab': '00001', '@cat01': 'A110102', '@area': '28100', '@time': '2015100000', '@unit': '人', '$': '810572'}, {'@tab': '00001', '@cat01': 'A110102', '@area': '28201', '@time': '2000100000', '@unit': '人', '$': '276670'}, {'@tab': '00001', '@cat01': 'A110102', '@area': '28201', '@time': '2005100000', '@unit': '人', '$': '277625'}, {'@tab': '00001', '@cat01': 'A110102', '@area': '28201', '@time': '2010100000', '@unit': '人', '$': '276950'}, {'@tab': '00001', '@cat01': 'A110102', '@area': '28201', '@time': '2015100000', '@unit': '人', '$': '276940'}]}}}}

## CLASS_OBJ

In [49]:
CLASS_OBJ = res['GET_STATS_DATA']['STATISTICAL_DATA']['CLASS_INF']['CLASS_OBJ']
CLASS_OBJ

[{'@id': 'tab',
  '@name': '観測値',
  'CLASS': {'@code': '00001', '@name': '観測値', '@level': '1'}},
 {'@id': 'cat01',
  '@name': 'Ａ\u3000人口・世帯',
  'CLASS': [{'@code': 'A1101',
    '@name': 'A1101_総人口',
    '@level': '1',
    '@unit': '人'},
   {'@code': 'A110101',
    '@name': 'A110101_総人口（男）',
    '@level': '1',
    '@unit': '人'},
   {'@code': 'A110102',
    '@name': 'A110102_総人口（女）',
    '@level': '1',
    '@unit': '人'}]},
 {'@id': 'area',
  '@name': '地域',
  'CLASS': [{'@code': '28100',
    '@name': '兵庫県 神戸市',
    '@level': '2',
    '@parentCode': '28000'},
   {'@code': '28201',
    '@name': '兵庫県 姫路市',
    '@level': '2',
    '@parentCode': '28000'}]},
 {'@id': 'time',
  '@name': '調査年',
  'CLASS': [{'@code': '1980100000', '@name': '1980年度', '@level': '1'},
   {'@code': '1981100000', '@name': '1981年度', '@level': '1'},
   {'@code': '1982100000', '@name': '1982年度', '@level': '1'},
   {'@code': '1983100000', '@name': '1983年度', '@level': '1'},
   {'@code': '1984100000', '@name': '1984年度', '@level': '1'},
   {'@code': '1985100000', '@name': '1985年度', '@level': '1'},
   {'@code': '1986100000', '@name': '1986年度', '@level': '1'},
   {'@code': '1987100000', '@name': '1987年度', '@level': '1'},
   {'@code': '1988100000', '@name': '1988年度', '@level': '1'},
   {'@code': '1989100000', '@name': '1989年度', '@level': '1'},
   {'@code': '1990100000', '@name': '1990年度', '@level': '1'},
   {'@code': '1991100000', '@name': '1991年度', '@level': '1'},
   {'@code': '1992100000', '@name': '1992年度', '@level': '1'},
   {'@code': '1993100000', '@name': '1993年度', '@level': '1'},
   {'@code': '1994100000', '@name': '1994年度', '@level': '1'},
   {'@code': '1995100000', '@name': '1995年度', '@level': '1'},
   {'@code': '1996100000', '@name': '1996年度', '@level': '1'},
   {'@code': '1997100000', '@name': '1997年度', '@level': '1'},
   {'@code': '1998100000', '@name': '1998年度', '@level': '1'},
   {'@code': '1999100000', '@name': '1999年度', '@level': '1'},
   {'@code': '2000100000', '@name': '2000年度', '@level': '1'},
   {'@code': '2001100000', '@name': '2001年度', '@level': '1'},
   {'@code': '2002100000', '@name': '2002年度', '@level': '1'},
   {'@code': '2003100000', '@name': '2003年度', '@level': '1'},
   {'@code': '2004100000', '@name': '2004年度', '@level': '1'},
   {'@code': '2005100000', '@name': '2005年度', '@level': '1'},
   {'@code': '2006100000', '@name': '2006年度', '@level': '1'},
   {'@code': '2007100000', '@name': '2007年度', '@level': '1'},
   {'@code': '2008100000', '@name': '2008年度', '@level': '1'},
   {'@code': '2009100000', '@name': '2009年度', '@level': '1'},
   {'@code': '2010100000', '@name': '2010年度', '@level': '1'},
   {'@code': '2011100000', '@name': '2011年度', '@level': '1'},
   {'@code': '2012100000', '@name': '2012年度', '@level': '1'},
   {'@code': '2013100000', '@name': '2013年度', '@level': '1'},
   {'@code': '2014100000', '@name': '2014年度', '@level': '1'},
   {'@code': '2015100000', '@name': '2015年度', '@level': '1'},
   {'@code': '2016100000', '@name': '2016年度', '@level': '1'},
   {'@code': '2017100000', '@name': '2017年度', '@level': '1'},
   {'@code': '2018100000', '@name': '2018年度', '@level': '1'},
   {'@code': '2019100000', '@name': '2019年度', '@level': '1'},
   {'@code': '2020100000', '@name': '2020年度', '@level': '1'}]}]

### カテゴリ名

In [ ]:
def categoryName(res):
  CLASS_OBJ = res['GET_STATS_DATA']['STATISTICAL_DATA']['CLASS_INF']['CLASS_OBJ']
  return

## VALUE

In [50]:
VALUE = res['GET_STATS_DATA']['STATISTICAL_DATA']['DATA_INF']['VALUE']
VALUE[0]

{'@tab': '00001',
 '@cat01': 'A1101',
 '@area': '28100',
 '@time': '1980100000',
 '@unit': '人',
 '$': '1367390'}

## chartData

In [41]:
VALUE = res['GET_STATS_DATA']['STATISTICAL_DATA']['DATA_INF']['VALUE']

def is_num(t: str) :
    if int(t):
      return int(t)
    else:
      return float(t)

def format(x):
  # @time、$を抽出
  d = {key: x[key] for key in ['@time', '$']}

  # キー名を変更
  d['time'] = d.pop('@time')[:4]
  d['value'] = is_num(d.pop('$'))

  return d

list(map(format, VALUE))



# print(list(set(VALUE)))

[{'time': '1980', 'value': 1367390},
 {'time': '1985', 'value': 1410834},
 {'time': '1990', 'value': 1477410},
 {'time': '1995', 'value': 1423792},
 {'time': '2000', 'value': 1493398},
 {'time': '2005', 'value': 1525393},
 {'time': '2010', 'value': 1544200},
 {'time': '2015', 'value': 1537272}]