# 準備

## ライブラリ

In [33]:
!pip install --upgrade xlrd==1.2.0
!pip install openpyxl

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlrd==1.2.0 in /usr/local/lib/python3.8/dist-packages (1.2.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: openpyxl in /usr/local/lib/python3.8/dist-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.8/dist-packages (from openpyxl) (1.1.0)

In [18]:
import urllib.parse
import urllib.request
import json
import os
import pandas as pd
import numpy as np
import xlrd
import openpyxl

## 都道府県一覧

[RESAS-API](https://opendata.resas-portal.go.jp/docs/api/v1/prefectures.html)を利用する

利用者登録した後、APIキーを設定

In [34]:
RESAS_API_KEY = '02JYzLqUOfTNVfiTWjLlR2g0YwEQPQ7caYxcnZaZ'

In [35]:
def preflist():
  url = 'https://opendata.resas-portal.go.jp/api/v1/prefectures'
  req = urllib.request.Request(url, headers={'X-API-KEY': RESAS_API_KEY})
  with urllib.request.urlopen(req) as response:
    res = json.loads(response.read().decode())
  
  return  pd.DataFrame(res['result'])

In [36]:
preflist().head()

   prefCode prefName
0         1      北海道
1         2      青森県
2         3      岩手県
3         4      宮城県
4         5      秋田県

## 市区町村一覧

同じく[RESAS-API](https://opendata.resas-portal.go.jp/docs/api/v1/cities.html)を利用する

In [30]:
def citylist(prefCode=None):
    url = 'https://opendata.resas-portal.go.jp/api/v1/cities'
    req = urllib.request.Request(url, headers={'X-API-KEY': RESAS_API_KEY})
    with urllib.request.urlopen(req) as response:
        res = json.loads(response.read().decode())
    
    res = list(filter(lambda x: x['bigCityFlag'] != '1', res['result']))

    if prefCode:
      res = list(filter(lambda x: x['prefCode'] == prefCode, res))
    
    return pd.DataFrame(res)

In [31]:
# 全国の市区町村
citylist().head()

   prefCode cityCode cityName bigCityFlag
0         1    01100      札幌市           2
1         1    01202      函館市           0
2         1    01203      小樽市           0
3         1    01204      旭川市           0
4         1    01205      室蘭市           0

In [32]:
# 兵庫県の市区町村
citylist(28).head()

   prefCode cityCode cityName bigCityFlag
0        28    28100      神戸市           2
1        28    28201      姫路市           0
2        28    28202      尼崎市           0
3        28    28203      明石市           0
4        28    28204      西宮市           0

## estat-APIのデータ取得

[政府統計の総合窓口](https://www.e-stat.go.jp/)のAPIからデータを取得する関数

利用者登録した後、APP_IDを設定

In [38]:
ESTAT_APP_ID = '724e5b90772a3e9289f41a253e4e7e32438f4fff'

In [44]:
import urllib.parse
import urllib.request
import json

def get_estat_response(params):
  # appId
  params['appId'] = ESTAT_APP_ID
  
  # url生成
  url = 'http://api.e-stat.go.jp/rest/2.1/app/json/getStatsData?'
  url += urllib.parse.urlencode(params)

  # API取得
  with urllib.request.urlopen(url) as response:
    res = json.loads(response.read().decode('utf-8'))
  
  # DataFrameに変換
  VALUE = res['GET_STATS_DATA']['STATISTICAL_DATA']['DATA_INF']['VALUE']
  df = pd.DataFrame(VALUE)

  return df

例えば総人口データの取得は次のとおり

In [45]:
params = {
    'statsDataId': '0000010101',
    'cdCat01': 'A1101',
    }
get_estat_response(params).head()

    @tab @cat01  @area       @time @unit          $
0  00001  A1101  00000  1975100000     人  111939643
1  00001  A1101  00000  1976100000     人  113094000
2  00001  A1101  00000  1977100000     人  114165000
3  00001  A1101  00000  1978100000     人  115190000
4  00001  A1101  00000  1979100000     人  116155000

# 1 計画策定の目的

# 2 播磨臨海地域の特徴

## 2-1 全国屈指のものづくり拠点

市区町村の製造品出荷額

[工業統計調査](https://www.e-stat.go.jp/dbview?sid=0003448126)の2020年確報データを利用する

In [48]:
def manufacture():
  params = {
      'statsDataId' : '0003448126',
      'cdCat01' : '32000120',
      'cdCat02' : '00',
      }
  
  df = get_estat_response(params).head()
  
  df_city = citylist()
  df = pd.merge()

  return df

In [50]:
manufacture().head()

     @cat01 @cat02 @cat03          $
0  32000120     00     01  604889350
1  32000120     00  01100   58960608
2  32000120     00  01101    2136381
3  32000120     00  01102    2040838
4  32000120     00  01103   11747635

## 2-2 姫路港・東播磨港の取扱貨物

# 3 基本的な事項

# 4 港湾地域の面的・効率的な脱炭素化

# 5 水素・燃料アンモニア等供給目標及び供給計画

# 企業活動のCO2

## 単体チェック

EXCELをインポートして整形する関数

In [ ]:
def get_co2(path):

  # Bookをインポートしてシート名をリストに格納
  book = pd.ExcelFile(path)
  sheets = book.sheet_names

  # ファイル名からIDと事業者名を取得
  filename = path.split('/')[6]
  id = filename.split('_')[0]
  company = filename.split('_')[1].replace('.xlsx', '')
  
  # CO2排出量のシートをDataFrameに格納
  df = book.parse(sheets[4])
  
  df = df[['Unnamed: 4','Unnamed: 9','Unnamed: 15','Unnamed: 17','Unnamed: 19']]
  df = df.rename(columns={'Unnamed: 4' : '種類','Unnamed: 9' : '使用量','Unnamed: 15' : '単位','Unnamed: 17' : '排出係数','Unnamed: 19' : 'CO2排出量'})
  df = df.dropna(subset=['種類','使用量','CO2排出量']).reset_index(drop=True)
  
  # 余計なデータを削除
  df = df[df['CO2排出量'] != '－']

  df = df.assign(年次 = '',会社名 = company,ID = id)
  
  for index, row in df.iterrows():
    
    if type(row['CO2排出量']) is str:
      time = '2021年' if index == 0 else '2013年'
      df = df.drop(index)
  
    df['年次'][index] = time

  # 荷役機械のデータが紛れ込むので削除
  df = df[df['排出係数'] != 'LPG']
  df = df[df['排出係数'] != 'ケミカル']
  df = df[df['排出係数'] != '石炭']
  df = df[df['排出係数'] != 'バン頁']
  df = df[df['排出係数'] != '珪砂']
  
  # 改行を削除
  df = df.replace( '\n', '', regex=True)

  # CO2排出量を整数に変換
  df['CO2排出量'] = df['CO2排出量'].astype('int')

  # 排出区分を追加する
  df_type = pd.read_csv('/content/drive/MyDrive/INBOX/企業活動排出区分.csv', encoding = "shift-jis")
  df_type = df_type[~df_type.duplicated()]
 
  df = pd.merge(df, df_type, on=['種類'] , how='left')
  df = df.fillna({'区分': '電気'})

  return df

パスを指定してテスト

In [ ]:
path = '/content/drive/MyDrive/INBOX/テスト/専39_日本製鉄.xlsx'
df = get_co2(path)
df

/usr/local/lib/python3.7/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

Empty DataFrame
Columns: [使用量, 単位, 排出係数, CO2排出量, 年次, 会社名, ID, 算出方法, 種類, 区分]
Index: []

合計値を確認しておく

In [ ]:
# 合計値の確認
df_sum = df.groupby(['年次']).agg({'CO2排出量': 'sum'}).reset_index()
df_sum

      年次     CO2排出量
0  2013年  106541639
1  2021年  107106085

## CO2排出明細の作成

ディレクトリ内のファイル一覧を取得する

In [ ]:
def get_dataframe():

  files = os.listdir('drive/MyDrive/INBOX/テスト/')
  
  df_res = pd.DataFrame(index=[], columns=[])
  
  for f in files:
    path = f'/content/drive/MyDrive/INBOX/テスト/{f}'
    df = get_co2(path)
    df_res = pd.concat([df_res, df])

  return df_res

In [ ]:
df_detail = get_dataframe()
df_detail

/usr/local/lib/python3.7/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

,種類,使用量,単位,排出係数,CO2排出量,年次,会社名,ID,区分
0,揮発油（ガソリン）,600,ℓ,0.0671,1392,2021年,石塚硝子,専01,燃料
1,軽油,17600,ℓ,0.068567,45495,2021年,石塚硝子,専01,燃料
2,液化石油ガス(ＬＰＧ),660,kg,0.059033,1979,2021年,石塚硝子,専01,燃料
3,都市ガス(13A),14923820,Nm3,0.049867,33489052,2021年,石塚硝子,専01,燃料
4,石灰石使用量,6717.9,ｔ,440,2955876,2021年,石塚硝子,専01,工程
...,...,...,...,...,...,...,...,...,...
30,関西電力（ｾﾞﾛｶｰﾎﾞﾝﾒﾆｭｰを除く）,244837542,kWh,0.475,116297832,2013年,神戸製鋼所加古川製鉄所,専43,電気
0,都市ガス(13A),2380000,Nm3,0.049867,5340720,2021年,日本水産,専19,燃料
1,関西電力（ｾﾞﾛｶｰﾎﾞﾝﾒﾆｭｰを除く）,15306000,kWh,0.351,5372406,2021年,日本水産,専19,電気
2,都市ガス(13A),1834891,Nm3,0.049867,4117495,2013年,日本水産,専19,燃料
3,関西電力（ｾﾞﾛｶｰﾎﾞﾝﾒﾆｭｰ)以外の電気事業者,12761661,kWh,0.429,5474752,2013年,日本水産,専19,電気

合計値を確認

In [ ]:
df_sum = df_detail.copy().groupby(['年次']).agg({'CO2排出量': 'sum'}).reset_index()
df_sum

      年次       CO2排出量
0  2013年  30290839889
1  2021年  25498606118

電気のCO2排出係数を0.250にした場合

## CO2排出明細の作成（電気0.250）

2030年に電気の排出係数が0.250になった場合の想定値

電気使用量は2021年とする

In [ ]:
def co2_2030(df_arg):

  df = df_arg.copy()
  
  # 2021年を抽出
  df = df[df['年次'] == '2021年']

  # 電気の排出係数を0.250に置換
  df['排出係数'] = df.apply(lambda x: x['排出係数'] if x['区分'] != '電気' else 0.250, 1)

  # 年次を2030年に置換
  df = df.replace({'年次': {'2021年': '2030年'}})

  return df

In [ ]:
df_detail_2030 = co2_2030(df_detail)
df_detail_2030

,種類,使用量,単位,排出係数,CO2排出量,年次,会社名,ID,区分
0,揮発油（ガソリン）,600,ℓ,0.067100,1392,2030年,石塚硝子,専01,燃料
1,軽油,17600,ℓ,0.068567,45495,2030年,石塚硝子,専01,燃料
2,液化石油ガス(ＬＰＧ),660,kg,0.059033,1979,2030年,石塚硝子,専01,燃料
3,都市ガス(13A),14923820,Nm3,0.049867,33489052,2030年,石塚硝子,専01,燃料
4,石灰石使用量,6717.9,ｔ,440.000000,2955876,2030年,石塚硝子,専01,工程
...,...,...,...,...,...,...,...,...,...
14,一般電気事業者（売電）,-283424000,kWh,0.250000,-203789052,2030年,神戸製鋼所加古川製鉄所,専43,電気
15,関西電力（ｾﾞﾛｶｰﾎﾞﾝﾒﾆｭｰを除く）,85068000,kWh,0.250000,29858868,2030年,神戸製鋼所加古川製鉄所,専43,電気
16,関西電力（ｾﾞﾛｶｰﾎﾞﾝﾒﾆｭｰを除く）,70695750,kWh,0.250000,24814208,2030年,神戸製鋼所加古川製鉄所,専43,電気
0,都市ガス(13A),2380000,Nm3,0.049867,5340720,2030年,日本水産,専19,燃料
1,関西電力（ｾﾞﾛｶｰﾎﾞﾝﾒﾆｭｰを除く）,15306000,kWh,0.250000,5372406,2030年,日本水産,専19,電気

## データ整理

集計して整理

In [ ]:
def sum_co2(time,df_arg):
  
  df = df_arg.copy()
  
  # 単位をtに変換
  df['CO2排出量'] = df.apply(lambda x: x['CO2排出量'] / 1000, 1)
  df['CO2排出量'] = df['CO2排出量'].astype('int')
  
  # データ整形
  df = df.copy().groupby(['ID','会社名','年次','区分']).agg({'CO2排出量': 'sum'}).reset_index()
  df = df[df['年次'] == time]
  df = df.pivot(index=['ID','会社名'], columns='区分', values='CO2排出量').reset_index()
  df['合計'] = df.sum(axis=1)
  
  # 列名の変更
  columns = {'工程':f'{time}_工程【t】','燃料':f'{time}_燃料【t】','電気':f'{time}_電気【t】','合計':f'{time}_合計【t】'}
  df = df.rename(columns=columns)
  
  return df

In [ ]:

# 2013年、2021年、2030年をマージ
df_2013 = sum_co2('2013年',df_detail)
df_2021 = sum_co2('2021年',df_detail)

df = pd.merge(df_2013, df_2021, on=['ID','会社名'] , how='left')

df_2030 = sum_co2('2030年',df_detail_2030)

df = pd.merge(df, df_2030, on=['ID','会社名'] , how='left')

# 算出方法の列を追加
df = df.assign(算出方法 = 'ｱﾝｹｰﾄ')

# 環境政策課データを追加する
df_kankyou = pd.read_csv('/content/drive/MyDrive/INBOX/環境政策課データ.csv', encoding = "shift-jis")
df = pd.concat([df, df_kankyou], axis=0)

# IDでソート
df = df.sort_values('ID')

# 合計行を追加
df = df.append(df.sum(numeric_only=True), ignore_index=True)

df = df.fillna(0)

df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  from ipykernel import kernelapp as app

,ID,会社名,2013年_工程【t】,2013年_燃料【t】,2013年_電気【t】,2013年_合計【t】,2021年_工程【t】,2021年_燃料【t】,2021年_電気【t】,2021年_合計【t】,2030年_工程【t】,2030年_燃料【t】,2030年_電気【t】,2030年_合計【t】,算出方法
0,専01,石塚硝子,7669.0,38273.0,14774.0,60716.0,5859.0,33536.0,11249.0,50644.0,5859.0,33536.0,11249.0,50644.0,ｱﾝｹｰﾄ
1,専02,日本触媒,27564.0,119587.0,79249.0,226400.0,33949.0,157067.0,30607.0,221623.0,33949.0,157067.0,30607.0,221623.0,ｱﾝｹｰﾄ
2,専03,JFE条鋼,2936.0,54060.0,161213.0,218209.0,2778.0,40445.0,87573.0,130796.0,2778.0,40445.0,87573.0,130796.0,ｱﾝｹｰﾄ
3,専04,ケミプロ化成,0,3286.0,1832.0,5118.0,0,2962.0,1568.0,4530.0,0,2962.0,1568.0,4530.0,ｱﾝｹｰﾄ
4,専06,ダイセル,0,661629.0,-3072.0,658557.0,0,608147.0,-10263.0,597884.0,0,608147.0,-10263.0,597884.0,ｱﾝｹｰﾄ
5,専07,関西電力,0,10089166.0,0,10089166.0,6986760.0,62.0,0,6986822.0,6986760.0,62.0,0,6986822.0,ｱﾝｹｰﾄ
6,専09,合同製鐵,"7,385","28,095","91,948","127,428","9,040","29,563","68,696","107,299","7,385","28,095","48,394","83,874",環境政策課
7,専10,兵庫県揖保川浄化センター,0,7.0,13236.0,13243.0,0,4.0,6282.0,6286.0,0,4.0,6282.0,6286.0,ｱﾝｹｰﾄ
8,専11,兵庫県兵庫西スラッジセンター,0,10967.0,14991.0,25958.0,0,6600.0,9556.0,16156.0,0,6600.0,9556.0,16156.0,ｱﾝｹｰﾄ
9,専12,山陽特殊製鋼,0,342529.0,473904.0,816433.0,0,345284.0,364200.0,709484.0,0,345284.0,364200.0,709484.0,ｱﾝｹｰﾄ
10,専13,住友精化姫路工場,0,124082.0,6935.0,131017.0,0,120452.0,7581.0,128033.0,0,120452.0,7581.0,128033.0,ｱﾝｹｰﾄ
11,専14,製鉄オキシトン,0,"3,763","378,056","381,819",0,"3,371","376,198","379,569",0,"3,763","101,193","104,956",環境政策課
12,専15,大阪ガス,0,2579.0,10297.0,12876.0,0,1997.0,9047.0,11044.0,0,1997.0,9047.0,11044.0,ｱﾝｹｰﾄ
13,専16,ヤマトスチール,"3,822","61,600","184,262","249,685","3,284","56,116","116,838","176,238","3,822","61,600","96,980","162,403",環境政策課
14,専17,虹技姫路東工場,0,1674.0,20604.0,22278.0,0,879.0,20769.0,21648.0,0,879.0,20769.0,21648.0,ｱﾝｹｰﾄ
15,専18,虹技姫路西工場,0,3786.0,15307.0,19093.0,0,1856.0,11791.0,13647.0,0,1856.0,11791.0,13647.0,ｱﾝｹｰﾄ
16,専19,日本水産,0,4117.0,5474.0,9591.0,0,5340.0,5372.0,10712.0,0,5340.0,5372.0,10712.0,ｱﾝｹｰﾄ
17,専20,姫路市下水道管理センター中部析水苑,0,0.0,3657.0,3657.0,0,1.0,4132.0,4133.0,0,1.0,4132.0,4133.0,ｱﾝｹｰﾄ
18,専21,姫路市下水道管理センター東部析水苑,0,12.0,2932.0,2944.0,0,20.0,2379.0,2399.0,0,20.0,2379.0,2399.0,ｱﾝｹｰﾄ
19,専22,姫路鐵鋼リファイン,0,2184.0,638.0,2822.0,0,2184.0,638.0,2822.0,0,2184.0,638.0,2822.0,ｱﾝｹｰﾄ
20,専23,日鉄スラグ製品,0,5379.0,1080.0,6459.0,0,8567.0,1333.0,9900.0,0,8567.0,1333.0,9900.0,ｱﾝｹｰﾄ
21,専24,出光ユニテック,0,"1,631","13,431","15,062",0,"1,502","10,681","12,183",0,"1,631","7,069","15,062",環境政策課
22,専25,ﾀﾞｲﾅｯｸｽ工業,0,428,"2,898","3,326",0,356,"2,325","2,681",0,428,"1,525","1,953",環境政策課
23,専26,サントクテック,0,"1,558","8,636","10,194",0,"1,470","4,617","6,087",0,"1,558","4,545","6,103",環境政策課
24,専27,三菱電機,0,16323.0,61878.0,78201.0,0,14758.0,89959.0,104717.0,0,14758.0,89959.0,104717.0,ｱﾝｹｰﾄ
25,専28,新日本開発,"87,964",243,"5,790","93,996","125,907","1,130","2,577","129,614","87,964",243,"3,047","93,996",環境政策課
26,専29,日本ポリマー工業,0,1411.0,1628.0,3039.0,0,1691.0,1282.0,2973.0,0,1691.0,1282.0,2973.0,ｱﾝｹｰﾄ
27,専30,DNPプレシジョンデバイス姫路,0,1215.0,23784.0,24999.0,0,753.0,7741.0,8494.0,0,753.0,7741.0,8494.0,ｱﾝｹｰﾄ
28,専31,濱中製鎖工業,0,1330.0,642.0,1972.0,0,1330.0,642.0,1972.0,0,1330.0,642.0,1972.0,ｱﾝｹｰﾄ
29,専32,エコパークあぼし,"21,523","14,928",264,"36,714","28,016","12,637",188,"40,841","21,523","14,928",110,"36,560",環境政策課
30,専33,日鉄テックスエンジ,0,1466.0,1013.0,2479.0,0,4121.0,1470.0,5591.0,0,4121.0,1470.0,5591.0,ｱﾝｹｰﾄ
31,専35,日鉄ケミカル＆マテリアル,0,13821.0,3632.0,17453.0,0,20707.0,3447.0,24154.0,0,20707.0,3447.0,24154.0,ｱﾝｹｰﾄ
32,専36,テツゲン,17876.0,14203.0,57941.0,90020.0,18582.0,17583.0,64210.0,100375.0,18582.0,17583.0,64210.0,100375.0,ｱﾝｹｰﾄ
33,専37,関西タイヤリサイクル,0,28.0,5918.0,5946.0,0,0,0,0,0,0,0,0,ｱﾝｹｰﾄ
34,専38,日鉄神鋼メタルリファイン,0,"36,216","37,299","73,515",0,"45,340","13,862","59,203",0,"36,216","9,962","73,515",環境政策課
35,専40,日鉄建材,0,543.0,13876.0,14419.0,0,498.0,13966.0,14464.0,0,498.0,13966.0,14464.0,ｱﾝｹｰﾄ
36,専41,パナソニック液晶ディスプレイ,0,7878.0,109551.0,117429.0,0,1861.0,46678.0,48539.0,0,1861.0,46678.0,48539.0,ｱﾝｹｰﾄ
37,専42,エア・ウォーター,0,"1,379","54,438","55,817",0,"1,383","51,466","52,849",0,"1,379","27,219","28,598",環境政策課
38,専43,神戸製鋼所加古川製鉄所,921880.0,14741574.0,-30231.0,15633223.0,562224.0,14194614.0,-158311.0,14598527.0,562224.0,14194614.0,-158311.0,14598527.0,ｱﾝｹｰﾄ
39,専44,神戸製鋼所高砂製作所,6534.0,103247.0,177799.0,287580.0,5512.0,89217.0,122262.0,216991.0,5512.0,89217.0,122262.0,216991.0,ｱﾝｹｰﾄ
40,専45,三菱重工,2.0,655626.0,-562564.0,93064.0,2.0,586179.0,-524318.0,61863.0,2.0,586179.0,-524318.0,61863.0,ｱﾝｹｰﾄ
41,専46,日本精化,0,2065.0,2010.0,4075.0,0,1695.0,1401.0,3096.0,0,1695.0,1401.0,3096.0,ｱﾝｹｰﾄ
42,専47,籠谷,0,"1,615","2,317","3,932",0,"1,615","2,317","3,932",0,"1,615","1,650","3,265",環境政策課
43,専48,カネカ,19520.0,695885.0,283020.0,998425.0,21435.0,635302.0,266434.0,923171.0,21435.0,635302.0,266434.0,923171.0,ｱﾝｹｰﾄ
44,専49,東洋紡,"2,699","6,699","5,418","14,817","1,251","7,605","2,723","11,579","2,699","6,699","3,784","13,182",環境政策課
45,専50,キッコーマン食品,0,8756.0,3246.0,12002.0,0,7076.0,3674.0,10750.0,0,7076.0,3674.0,10750.0,ｱﾝｹｰﾄ
46,専51,J-POWER,0,191927.0,4052.0,195979.0,0,186552.0,2544.0,189096.0,0,186552.0,2544.0,189096.0,ｱﾝｹｰﾄ
47,専52,AGC,3016.0,139529.0,136807.0,279352.0,763.0,82705.0,64612.0,148080.0,763.0,82705.0,64612.0,148080.0,ｱﾝｹｰﾄ
48,専53,サントリープロダクツ,0,11349.0,95191.0,106540.0,0,9869.0,97236.0,107105.0,0,9869.0,97236.0,107105.0,ｱﾝｹｰﾄ
49,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

# 専用埠頭の荷役機械等

## 単体チェック

EXCELをインポートして整形する関数

In [ ]:
def get_co2(path):

  # Bookをインポートしてシート名をリストに格納
  book = pd.ExcelFile(path)
  sheets = book.sheet_names

  # ファイル名からIDと事業者名を取得
  filename = path.split('/')[7]
  id = filename.split('_')[0]
  company = filename.split('_')[1].replace('.xlsx', '')
  
  # CO2排出量のシートをDataFrameに格納
  df = book.parse(sheets[4])

  # 必要な行だけ抽出
  df = df.dropna(subset=['Unnamed: 16']).reset_index(drop=True)
  
  # 列の整理
  df = df[['アンケートⅡ　CO2排出量と削減計画等','Unnamed: 4','Unnamed: 9','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 19']]
  df = df.rename(columns={'アンケートⅡ　CO2排出量と削減計画等' : '名称','Unnamed: 4' : '種類','Unnamed: 9' : '使用量','Unnamed: 15' : '単位','Unnamed: 16' : '荷役運転時間','Unnamed: 17' : '取扱貨物種類','Unnamed: 19' : '取扱貨物量'})
  
  # # 余計なデータを削除
  # df = df[df['CO2排出量'] != '－']

  df = df.assign(年次 = '',会社名 = company,ID = id)
  
  for index, row in df.iterrows():
    
    if type(row['荷役運転時間']) is str:
      time = '2021年' if index == 0 else '2013年'
      df = df.drop(index)
  
    df['年次'][index] = time

  # # 荷役機械のデータが紛れ込むので削除
  # df = df[df['排出係数'] != 'LPG']
  # df = df[df['排出係数'] != 'ケミカル']
  # df = df[df['排出係数'] != '石炭']
  # df = df[df['排出係数'] != 'バン頁']
  # df = df[df['排出係数'] != '珪砂']
  
  # # 改行を削除
  # df = df.replace( '\n', '', regex=True)

  # # CO2排出量を整数に変換
  # df['CO2排出量'] = df['CO2排出量'].astype('int')

  # # 排出区分を追加する
  # df_type = pd.read_csv('/content/drive/MyDrive/INBOX/企業活動排出区分.csv', encoding = "shift-jis")
  # df_type = df_type[~df_type.duplicated()]
 
  # df = pd.merge(df, df_type, on=['種類'] , how='left')
  # df = df.fillna({'区分': '電気'})

  return df

パスを指定してテスト

In [ ]:
path = '/content/drive/MyDrive/播磨臨海地域CNP/CO2排出量の推計/企業アンケート結果/専05_ダイセル.xlsx'
df = get_co2(path)
df

/usr/local/lib/python3.7/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

,アンケートⅡ CO2排出量と削減計画等,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,１,現在(2021年度),NaN,のCO2排出量について,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,（１）事業所で管理している施設からのCO2排出量について、ご記入ください。\n 「環境の...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,事業所名\n※自動入力,NaN,NaN,NaN,燃料・焼却物等の種類名称\n（別表②参照）,NaN,NaN,NaN,NaN,使用量\n（年当たり）,...,NaN,NaN,単位\n(㍑、kwh、kg、MJ),NaN,排出係数,NaN,CO2換算\n排出量\n(kg-CO2) ※自動計算,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,(1)と(3)の合計(kg-CO2),NaN,NaN,NaN,472844.454359,NaN,NaN,NaN

## 荷役機械明細の作成

In [ ]:
def get_dataframe():

  files = os.listdir('drive/MyDrive/播磨臨海地域CNP/CO2排出量の推計/企業アンケート結果/')
  
  df_res = pd.DataFrame(index=[], columns=[])
  
  for f in files:
    path = f'/content/drive/MyDrive/播磨臨海地域CNP/CO2排出量の推計/企業アンケート結果/{f}'
    df = get_co2(path)
    df_res = pd.concat([df_res, df])

  return df_res

In [ ]:
df_detail = get_dataframe()
df_detail

/usr/local/lib/python3.7/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

,名称,種類,使用量,単位,荷役運転時間,取扱貨物種類,取扱貨物量,年次,会社名,ID
1,5t水平引き込みクレーン,電気,14092.5,NaN,140.925,バン頁,6769,2021年,AGC,専52
3,5t水平引き込みクレーン,電気,11476.25,NaN,114.7625,バン頁,2961,2013年,AGC,専52
1,船側ポンプ,Ａ重油,212440,ℓ,1880,LPG,389715,2021年,日本触媒,専02
2,船側ポンプ,Ａ重油,159152,ℓ,2030,ケミカル,333115,2021年,日本触媒,専02
3,陸上ポンプ,関西電力\n（ｾﾞﾛｶｰﾎﾞﾝﾒﾆｭｰを除く）,43420,kWh,835,ケミカル,203901,2021年,日本触媒,専02
1,アンローダー\n230t/h,NaN,電源は自家発電電気で充当,NaN,1000,石炭,211530,2021年,カネカ,専48
2,"クレーン180t/h,230t/h",NaN,電源は自家発電電気で充当,NaN,2364,原塩,510829,2021年,カネカ,専48
4,アンローダー\n230t/h,NaN,電源は自家発電電気で充当,NaN,1247,石炭,254066,2013年,カネカ,専48
5,"クレーン\n180t/h,230t/h",NaN,電源は自家発電電気で充当,NaN,1816,原塩,396670,2013年,カネカ,専48
1,揚炭機,関西電力（ｾﾞﾛｶｰﾎﾞﾝﾒﾆｭｰ)以外\nの電気事業者,－,kWh,1560,石炭,1167000,2021年,J-POWER,専51
3,揚炭機,関西電力（ｾﾞﾛｶｰﾎﾞﾝﾒﾆｭｰ)以外\nの電気事業者,-,kWh,1730,石炭,1299000,2013年,J-POWER,専51
1,沿岸ジブクレーン,関西電力\n（ｾﾞﾛｶｰﾎﾞﾝﾒﾆｭｰを除く）,NaN,kWh,770,鋼材,48000,2021年,山陽特殊製鋼,専12

# 専用岸壁の船舶

## 単体チェック

EXCELをインポートして整形する関数

In [ ]:
def get_ships(path):

  # Bookをインポートしてシート名をリストに格納
  book = pd.ExcelFile(path)
  sheets = book.sheet_names

  # ファイル名からIDと事業者名を取得
  filename = path.split('/')[7]
  id = filename.split('_')[0]
  company = filename.split('_')[1].replace('.xlsx', '')
  
  # CO2排出量のシートをDataFrameに格納
  df = book.parse(sheets[4])

  # 必要な行だけ抽出
  df = df.dropna(subset=['Unnamed: 6']).reset_index(drop=True)
  
  # # 列の整理
  # df = df[['アンケートⅡ　CO2排出量と削減計画等','Unnamed: 4','Unnamed: 9','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 19']]
  # df = df.rename(columns={'アンケートⅡ　CO2排出量と削減計画等' : '名称','Unnamed: 4' : '種類','Unnamed: 9' : '使用量','Unnamed: 15' : '単位','Unnamed: 16' : '荷役運転時間','Unnamed: 17' : '取扱貨物種類','Unnamed: 19' : '取扱貨物量'})
  
  # # # 余計なデータを削除
  # # df = df[df['CO2排出量'] != '－']

  # df = df.assign(年次 = '',会社名 = company,ID = id)
  
  # for index, row in df.iterrows():
    
  #   if type(row['荷役運転時間']) is str:
  #     time = '2021年' if index == 0 else '2013年'
  #     df = df.drop(index)
  
  #   df['年次'][index] = time

  # # 荷役機械のデータが紛れ込むので削除
  # df = df[df['排出係数'] != 'LPG']
  # df = df[df['排出係数'] != 'ケミカル']
  # df = df[df['排出係数'] != '石炭']
  # df = df[df['排出係数'] != 'バン頁']
  # df = df[df['排出係数'] != '珪砂']
  
  # # 改行を削除
  # df = df.replace( '\n', '', regex=True)

  # # CO2排出量を整数に変換
  # df['CO2排出量'] = df['CO2排出量'].astype('int')

  # # 排出区分を追加する
  # df_type = pd.read_csv('/content/drive/MyDrive/INBOX/企業活動排出区分.csv', encoding = "shift-jis")
  # df_type = df_type[~df_type.duplicated()]
 
  # df = pd.merge(df, df_type, on=['種類'] , how='left')
  # df = df.fillna({'区分': '電気'})

  return df

パスを指定してテスト

In [ ]:
path = '/content/drive/MyDrive/播磨臨海地域CNP/CO2排出量の推計/企業アンケート結果/専02_日本触媒.xlsx'
df = get_ships(path)
df

/usr/local/lib/python3.7/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

,アンケートⅡ CO2排出量と削減計画等,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
0,船種,NaN,NaN,総トン数(階級別),NaN,NaN,総停泊時間,NaN,CO2排出量(kg-CO2),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ＬＰＧ船(内航船),NaN,NaN,773.2,NaN,NaN,1751.6,NaN,516847.782186,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ＬＰＧ船(外航船),NaN,NaN,1273.3,NaN,NaN,77.4,NaN,16422.408073,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,内航ケミカル船(内航船),NaN,NaN,489.2,NaN,NaN,2082,NaN,428951.031062,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,外航ケミカル船(外航船),NaN,NaN,773.4,NaN,NaN,85.2,NaN,12482.868205,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,２,2014年度,のCO2排出量について,NaN,NaN,NaN,※現況(2021年度)と変わらないのであれば空欄で結構です。,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,※2013年度当時に立地されていなかった企業様は空欄で結構です。,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,船種,NaN,NaN,総トン数(階級別),NaN,NaN,総停泊時間,NaN,CO2排出量(kg-CO2),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,ＬＰＧ船(内航船),NaN,NaN,753.3,NaN,NaN,663.4,NaN,191743.812845,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,ＬＰＧ船(外航船),NaN,NaN,798,NaN,NaN,54,NaN,8094.689958,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,内航ケミカル船(内航船),NaN,NaN,449,NaN,NaN,1089,NaN,209968.294842,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,外航ケミカル船(外航船),NaN,NaN,739.2,NaN,NaN,58,NaN,8222.405282,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN