# 事前準備

## ライブラリ

In [1]:
!pip install --upgrade xlrd==1.2.0

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting xlrd==1.2.0
  Downloading xlrd-1.2.0-py2.py3-none-any.whl (103 kB)
     |████████████████████████████████| 103 kB 12.9 MB/s
Installing collected packages: xlrd
  Attempting uninstall: xlrd
    Found existing installation: xlrd 1.1.0
    Uninstalling xlrd-1.1.0:
      Successfully uninstalled xlrd-1.1.0
Successfully installed xlrd-1.2.0

## EXCELを処理する関数

国土交通省ホームページのEXCELデータから作業する

輸出・輸入・移出・移入とも同じ構成のExcelになっているので、EXCELのインポートからDataFameの整形までは共通関数でOK

In [26]:
import pandas as pd

def get_excel(url):
  # ブックの指定
  input_file_name = url
  input_book = pd.ExcelFile(input_file_name)
  
  # 統計結果は2番目のシート、上から2行は無視
  input_sheet_name = input_book.sheet_names
  df = input_book.parse(input_sheet_name[1],skiprows = 2)

  df = df.astype({'トン数': 'int'})

  return df

## CSVに保存する関数

In [42]:
from google.colab import files

def download_csv(df, fileName):
  df.to_csv(fileName, encoding="shift_jis")
  files.download(fileName)
  return

# 単年度分析

## 輸入

### 港別✕品種別

In [37]:
import pandas as pd
import numpy as np

def import_kind(time, url, prefecture=None):

  # EXCELをインポート
  df = get_excel(url)

  # 集計
  df = pd.pivot_table(df, index=['都道府県', '港名'], columns='品種名', values='トン数', margins=True, aggfunc=np.sum).reset_index()

  # 都道府県指定がある場合
  if prefecture is not None:
    df = df[df['都道府県'] == prefecture]
  
  # 欠損列を削除
  df = df.dropna(how='all', axis=1)

  return df

In [43]:
# 年次・URLを指定
time = '2022年度'
url = 'https://www.mlit.go.jp/k-toukei/content/001448038.xlsx'

# 全港湾の集計結果を取得
# df = import_kind(time,url)

# 兵庫県の集計結果を取得
df = import_kind(time,url,'兵庫県')

# csvに保存
fileName = f'港別✕品種別の輸入量【{time}】.csv'
download_csv(df, fileName)

df

品種名,都道府県,港名,がん具,その他の石油,その他日用品,その他林産品,その他機械,その他畜産品,その他石油製品,その他繊維工業品,...,鋼材,陶磁器,電気機械,非金属鉱物,非鉄金属,飲料,麦,ＬＮＧ（液化天然ガス）,ＬＰＧ（液化石油ガス）,All
7,兵庫県,姫路,NaN,NaN,NaN,NaN,NaN,NaN,12031.0,NaN,...,4270.0,NaN,96.0,33976.0,NaN,NaN,NaN,16935069.0,3626.0,19253280
8,兵庫県,尼崎西宮芦屋,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29786
9,兵庫県,東播磨,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17021.0,NaN,NaN,528134.0,NaN,NaN,NaN,2019.0,37560.0,15515389
10,兵庫県,相生,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12123
11,兵庫県,神戸,163990.0,9787.0,198550.0,5196.0,7856.0,785144.0,36648.0,443891.0,...,56214.0,44405.0,1008754.0,149818.0,304056.0,278761.0,1300287.0,NaN,278741.0,26041274
12,兵庫県,赤穂,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,41360.0,NaN,NaN,NaN,NaN,NaN,416200

### 港別✕仕向国別（品種指定）

In [18]:
import pandas as pd
import numpy as np

def import_country(url,kind):

  # EXCELをインポート
  df = get_excel(url)

  # 品種名（kind）に一致する行を抽出
  df = df[df['品種名'] == kind]

  # 集計
  df = pd.pivot_table(df, index=['都道府県', '港名'], columns='仕向国', values='トン数', margins=True, aggfunc=np.sum).reset_index()

  # csvに保存
# from google.colab import files
# df.to_csv('兵庫県の総人口.csv', encoding="shift_jis")
# files.download('兵庫県の総人口.csv')

  return df

In [19]:
# URLを指定
url = 'https://www.mlit.go.jp/k-toukei/content/001448038.xlsx'

# 品種名を指定
kind = 'ＬＮＧ（液化天然ガス）'

df = import_kind(url,kind)
df

仕向国,都道府県,港名,アメリカ,アラブ首長国,イギリス,インドネシア,エジプト,オマーン,オーストラリア,カタール,...,パプアニューギニア,フィリピン,フランス,ブルネイ,ペルー,マレーシア,ロシア,台湾,諸国,韓国
0,三重県,四日市,959059.0,NaN,NaN,674544.0,NaN,449991.0,3878849.0,1578185.0,...,501073.0,165268.0,145220.0,NaN,172072.0,2525663.0,777126.0,NaN,NaN,167635.0
1,兵庫県,姫路,1145498.0,NaN,NaN,2146386.0,152857.0,327576.0,7492266.0,1376415.0,...,1386312.0,NaN,NaN,811560.0,176614.0,1287183.0,632402.0,NaN,NaN,NaN
2,兵庫県,東播磨,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.0
3,北海道,石狩湾新,167583.0,NaN,NaN,NaN,NaN,NaN,907248.0,NaN,...,NaN,NaN,NaN,241811.0,NaN,276314.0,1241826.0,NaN,NaN,NaN
4,千葉県,千葉,NaN,NaN,NaN,NaN,NaN,299726.0,7091432.0,2739978.0,...,NaN,NaN,NaN,6593875.0,NaN,1098779.0,930008.0,NaN,NaN,NaN
5,千葉県,木更津,1645425.0,737300.0,NaN,NaN,NaN,139764.0,7119700.0,5218668.0,...,1915201.0,NaN,NaN,154776.0,NaN,1930926.0,933136.0,NaN,NaN,NaN
6,大分県,大分,69634.0,NaN,NaN,229882.0,NaN,NaN,1103274.0,NaN,...,NaN,NaN,NaN,NaN,NaN,65494.0,257240.0,NaN,NaN,NaN
7,大阪府,堺泉北,477295.0,NaN,NaN,186117.0,NaN,1022465.0,3306830.0,274748.0,...,616110.0,NaN,NaN,246176.0,NaN,690651.0,384241.0,NaN,NaN,NaN
8,宮城県,仙台塩釜,72051.0,NaN,NaN,NaN,NaN,NaN,66354.0,308193.0,...,NaN,NaN,NaN,NaN,NaN,423145.0,139483.0,NaN,NaN,NaN
9,富山県,伏木富山,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,567200.0,NaN,NaN,NaN,NaN
10,山口県,柳井,68526.0,NaN,NaN,NaN,NaN,414388.0,772015.0,NaN,...,66829.0,NaN,NaN,62272.0,NaN,NaN,64498.0,NaN,NaN,NaN
11,岡山県,水島,NaN,NaN,NaN,NaN,NaN,86200.0,416700.0,119367.0,...,NaN,NaN,NaN,NaN,NaN,174800.0,NaN,NaN,NaN,NaN
12,広島県,広島,NaN,NaN,NaN,38407.0,NaN,NaN,267847.0,NaN,...,NaN,NaN,NaN,NaN,NaN,212703.0,348767.0,NaN,NaN,200.0
13,広島県,福山,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,565.0
14,愛知県,名古屋,1585033.0,NaN,NaN,769641.0,NaN,135582.0,4859212.0,1872664.0,...,609976.0,NaN,NaN,299042.0,NaN,2942496.0,1294556.0,NaN,NaN,NaN
15,新潟県,新潟,160966.0,NaN,306079.0,145532.0,NaN,121228.0,1045857.0,918092.0,...,NaN,NaN,NaN,NaN,133669.0,1995222.0,1295944.0,151195.0,NaN,140122.0
16,新潟県,直江津,484681.0,NaN,NaN,121614.0,NaN,NaN,2377730.0,398022.0,...,154579.0,NaN,NaN,150962.0,323491.0,397441.0,577713.0,NaN,268921.0,NaN
17,東京都,東京,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,39.0,NaN,NaN,NaN,NaN,30.0,NaN,NaN
18,沖縄県,中城湾,NaN,NaN,NaN,NaN,NaN,NaN,262605.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,神奈川県,川崎,604473.0,1575990.0,NaN,245135.0,NaN,403601.0,5346829.0,1573329.0,...,1249449.0,NaN,NaN,NaN,318934.0,1322337.0,1582066.0,NaN,NaN,NaN
20,神奈川県,横浜,1007857.0,NaN,NaN,NaN,NaN,NaN,3246150.0,794042.0,...,69758.0,NaN,NaN,64674.0,NaN,824976.0,632349.0,NaN,NaN,NaN
21,福岡県,北九州,NaN,NaN,NaN,55333.0,NaN,NaN,527222.0,NaN,...,NaN,NaN,NaN,68296.0,NaN,894197.0,195393.0,NaN,NaN,NaN
22,福島県,相馬,144168.0,NaN,NaN,NaN,NaN,66800.0,69423.0,67681.0,...,NaN,NaN,NaN,26427.0,NaN,420500.0,NaN,NaN,NaN,34011.0
23,茨城県,茨城,20671.0,NaN,NaN,NaN,NaN,NaN,955596.0,543656.0,...,NaN,NaN,NaN,NaN,NaN,451383.0,724403.0,NaN,NaN,NaN
24,長崎県,長崎,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,8200.0,NaN,NaN,NaN,NaN
25,青森県,八戸,NaN,NaN,NaN,NaN,NaN,NaN,205692.0,NaN,...,NaN,NaN,NaN,NaN,NaN,115511.0,NaN,NaN,NaN,NaN
26,静岡県,清水,159549.0,NaN,NaN,NaN,NaN,NaN,1027243.0,436582.0,...,554671.0,NaN,NaN,NaN,323937.0,295905.0,NaN,NaN,NaN,NaN
27,香川県,坂出,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1174451.0,NaN,NaN,NaN,NaN
28,鹿児島県,志布志,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120.0
29,鹿児島県,鹿児島,NaN,NaN,NaN,NaN,NaN,20025.0,107064.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN