# 事前準備

## ライブラリ

In [1]:
!pip install --upgrade xlrd==1.2.0

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting xlrd==1.2.0
  Downloading xlrd-1.2.0-py2.py3-none-any.whl (103 kB)
     |████████████████████████████████| 103 kB 12.9 MB/s
Installing collected packages: xlrd
  Attempting uninstall: xlrd
    Found existing installation: xlrd 1.1.0
    Uninstalling xlrd-1.1.0:
      Successfully uninstalled xlrd-1.1.0
Successfully installed xlrd-1.2.0

# LNGの分析

国土交通省ホームページのEXCELデータから作業する

輸出・輸入・移出・移入とも同じ構成のExcelになっているので、EXCELのインポートからDataFameの整形までは共通関数でOK

In [2]:
import pandas as pd

def get_excel(url):
  # ブックの指定
  input_file_name = url
  input_book = pd.ExcelFile(input_file_name)
  
  # 統計結果は2番目のシート、上から2行は無視
  input_sheet_name = input_book.sheet_names
  df = input_book.parse(input_sheet_name[1],skiprows = 2)

  return df

## 輸入

In [10]:
def lng_import(url,kind):

  # EXCELをインポート
  df = get_excel(url)

  # 品種名（kind）に一致する行を抽出
  df = df[df['品種名'] == kind]

  df = df.groupby(['都道府県','港名','仕向国']).agg({'トン数': 'sum'}).reset_index()

  return df

In [11]:
# URLを指定
url = 'https://www.mlit.go.jp/k-toukei/content/001448038.xlsx'

# 品種名を指定
kind = 'ＬＮＧ（液化天然ガス）'

df = lng_import(url,kind)
df

     都道府県   港名      仕向国      トン数
0     三重県  四日市     アメリカ   959059
1     三重県  四日市   インドネシア   674544
2     三重県  四日市     オマーン   449991
3     三重県  四日市  オーストラリア  3878849
4     三重県  四日市     カタール  1578185
..    ...  ...      ...      ...
171   静岡県   清水    マレーシア   295905
172   香川県   坂出    マレーシア  1174451
173  鹿児島県  志布志       韓国      120
174  鹿児島県  鹿児島     オマーン    20025
175  鹿児島県  鹿児島  オーストラリア   107064

[176 rows x 4 columns]