# 事前準備

## ライブラリ

In [1]:
!pip install --upgrade xlrd==1.2.0

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlrd==1.2.0 in /usr/local/lib/python3.8/dist-packages (1.2.0)

## EXCELを処理する関数

国土交通省ホームページのEXCELデータから作業する

輸出・輸入・移出・移入とも同じ構成のExcelになっているので、EXCELのインポートからDataFameの整形までは共通関数でOK

In [2]:
import pandas as pd

def get_excel(url):
  # ブックの指定
  input_file_name = url
  input_book = pd.ExcelFile(input_file_name)
  
  # 統計結果は2番目のシート、上から2行は無視
  input_sheet_name = input_book.sheet_names
  df = input_book.parse(input_sheet_name[1],skiprows = 2)

  df = df.astype({'トン数': 'int'})

  return df

## CSVに保存する関数

In [3]:
from google.colab import files

def download_csv(df, fileName):
  df.to_csv(fileName, encoding="shift_jis")
  files.download(fileName)
  return

# 港湾統計のURLセット

URLの一覧表をセットしておく

In [34]:
params_cargo = [
    { 'name':'輸出' , 'time' : '2012年' , 'url' : 'https://www.mlit.go.jp/k-toukei/content/001448464.xlsx' },
    { 'name':'輸出' , 'time' : '2013年' , 'url' : 'https://www.mlit.go.jp/k-toukei/content/001448471.xlsx' },
    { 'name':'輸出' , 'time' : '2014年' , 'url' : 'https://www.mlit.go.jp/k-toukei/content/001448478.xlsx' },
    { 'name':'輸出' , 'time' : '2015年' , 'url' : 'https://www.mlit.go.jp/k-toukei/content/001448485.xlsx' },
    { 'name':'輸出' , 'time' : '2016年' , 'url' : 'https://www.mlit.go.jp/k-toukei/content/001448499.xlsx' },
    { 'name':'輸出' , 'time' : '2017年' , 'url' : 'https://www.mlit.go.jp/k-toukei/content/001448521.xlsx' },
    { 'name':'輸出' , 'time' : '2018年' , 'url' : 'https://www.mlit.go.jp/k-toukei/content/001448545.xlsx' },
    { 'name':'輸出' , 'time' : '2019年' , 'url' : 'https://www.mlit.go.jp/k-toukei/content/001448582.xlsx' },
    { 'name':'輸出' , 'time' : '2020年' , 'url' : 'https://www.mlit.go.jp/k-toukei/content/001448037.xlsx' },
    { 'name':'輸入' , 'time' : '2012年' , 'url' : 'https://www.mlit.go.jp/common/001277672.xls' },
    { 'name':'輸入' , 'time' : '2013年' , 'url' : 'https://www.mlit.go.jp/common/001277688.xls' },
    { 'name':'輸入' , 'time' : '2014年' , 'url' : 'https://www.mlit.go.jp/common/001277703.xls' },
    { 'name':'輸入' , 'time' : '2015年' , 'url' : 'https://www.mlit.go.jp/common/001277717.xls' },
    { 'name':'輸入' , 'time' : '2016年' , 'url' : 'https://www.mlit.go.jp/k-toukei/content/001448500.xlsx' },
    { 'name':'輸入' , 'time' : '2017年' , 'url' : 'https://www.mlit.go.jp/common/001277753.xls' },
    { 'name':'輸入' , 'time' : '2018年' , 'url' : 'https://www.mlit.go.jp/k-toukei/content/001448546.xlsx' },
    { 'name':'輸入' , 'time' : '2019年' , 'url' : 'https://www.mlit.go.jp/k-toukei/content/001448583.xlsx' },
    { 'name':'輸入' , 'time' : '2020年' , 'url' : 'https://www.mlit.go.jp/k-toukei/content/001448038.xlsx' },
    { 'name':'移出' , 'time' : '2012年' , 'url' : 'https://www.mlit.go.jp/common/001277673.xls' },
    { 'name':'移出' , 'time' : '2013年' , 'url' : 'https://www.mlit.go.jp/common/001277689.xls' },
    { 'name':'移出' , 'time' : '2014年' , 'url' : 'https://www.mlit.go.jp/common/001277704.xls' },
    { 'name':'移出' , 'time' : '2015年' , 'url' : 'https://www.mlit.go.jp/common/001277718.xls' },
    { 'name':'移出' , 'time' : '2016年' , 'url' : 'https://www.mlit.go.jp/k-toukei/content/001448501.xlsx' },
    { 'name':'移出' , 'time' : '2017年' , 'url' : 'https://www.mlit.go.jp/k-toukei/content/001448522.xlsx' },
    { 'name':'移出' , 'time' : '2018年' , 'url' : 'https://www.mlit.go.jp/k-toukei/content/001448547.xlsx' },
    { 'name':'移出' , 'time' : '2019年' , 'url' : 'https://www.mlit.go.jp/k-toukei/content/001448584.xlsx' },
    { 'name':'移出' , 'time' : '2020年' , 'url' : 'https://www.mlit.go.jp/k-toukei/content/001448039.xlsx' },
    { 'name':'移入' , 'time' : '2012年' , 'url' : 'https://www.mlit.go.jp/common/001277674.xls' },
    { 'name':'移入' , 'time' : '2013年' , 'url' : 'https://www.mlit.go.jp/common/001277690.xls' },
    { 'name':'移入' , 'time' : '2014年' , 'url' : 'https://www.mlit.go.jp/common/001277705.xls' },
    { 'name':'移入' , 'time' : '2015年' , 'url' : 'https://www.mlit.go.jp/common/001380154.xlsx' },
    { 'name':'移入' , 'time' : '2016年' , 'url' : 'https://www.mlit.go.jp/common/001380116.xlsx' },
    { 'name':'移入' , 'time' : '2017年' , 'url' : 'https://www.mlit.go.jp/k-toukei/content/001448523.xlsx' },
    { 'name':'移入' , 'time' : '2018年' , 'url' : 'https://www.mlit.go.jp/k-toukei/content/001448548.xlsx' },
    { 'name':'移入' , 'time' : '2019年' , 'url' : 'https://www.mlit.go.jp/k-toukei/content/001448585.xlsx' },
    { 'name':'移入' , 'time' : '2020年' , 'url' : 'https://www.mlit.go.jp/k-toukei/content/001448040.xlsx' },
]

# 単年度分析

## 港別✕品種別

クロス集計する関数

In [26]:
import pandas as pd
import numpy as np

def port_kind(time, url, prefecture=None, port=None):

  # EXCELをインポート
  df = get_excel(url)

  # 集計
  df = pd.pivot_table(df, index=['都道府県', '港名'], columns='品種名', values='トン数', margins=True, aggfunc=np.sum).reset_index()

  # 都道府県指定がある場合
  if prefecture is not None:
    df = df[df['都道府県'] == prefecture]

  # 港湾指定がある場合
  if port is not None:
    df = df[df['港名'].isin(port)]

  # 欠損列を削除
  df = df.dropna(how='all', axis=1)

  return df

### 輸入

In [32]:
# 年次・URLを指定
time = '2020年'
url = 'https://www.mlit.go.jp/k-toukei/content/001448037.xlsx'

# 抽出する港名を指定　全港湾の場合はNone
port =['姫路','東播磨','水島','坂出']

df = port_kind(time,url,port=port)

# csvに保存
fileName = f'港別✕品種別の輸入量【{time}】.csv'
download_csv(df, fileName)

df

品種名,都道府県,港名,その他の石油,その他日用品,その他林産品,その他機械,その他畜産品,その他石油製品,その他繊維工業品,その他製造工業品,...,鋼材,陶磁器,電気機械,非金属鉱物,非鉄金属,飲料,麦,ＬＮＧ（液化天然ガス）,ＬＰＧ（液化石油ガス）,All
7,兵庫県,姫路,NaN,NaN,NaN,NaN,NaN,12031.0,NaN,NaN,...,4270.0,NaN,96.0,33976.0,NaN,NaN,NaN,16935069.0,3626.0,19253280
9,兵庫県,東播磨,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17021.0,NaN,NaN,528134.0,NaN,NaN,NaN,2019.0,37560.0,15515389
53,岡山県,水島,178165.0,165072.0,474.0,2665.0,223.0,13297.0,4228.0,119015.0,...,81954.0,27.0,7264.0,438216.0,8684.0,734.0,162621.0,866667.0,434427.0,33211417
127,香川県,坂出,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,300.0,NaN,NaN,55806.0,1174451.0,494456.0,5533498

### 輸出

In [35]:
# 年次・URLを指定
time = '2020年'
url = 'https://www.mlit.go.jp/k-toukei/content/001448037.xlsx'

# 抽出する港名を指定　全港湾の場合はNone
port =['姫路','東播磨','水島','坂出']

df = port_kind(time,url,port=port)


# csvに保存
fileName = f'港別✕品種別の輸出量【{time}】.csv'
download_csv(df, fileName)

df

品種名,都道府県,港名,その他の石油,その他日用品,その他機械,その他石油製品,その他繊維工業品,その他製造工業品,その他輸送機械,その他輸送用車両,...,金属製品,金属鉱,鉄鋼,鋼材,陶磁器,電気機械,非金属鉱物,非鉄金属,ＬＰＧ（液化石油ガス）,All
5,兵庫県,姫路,5465.0,NaN,NaN,900.0,NaN,NaN,127.0,NaN,...,NaN,NaN,120507.0,567590.0,NaN,NaN,22421.0,NaN,NaN,856350
7,兵庫県,東播磨,NaN,NaN,56.0,NaN,NaN,NaN,36.0,3780.0,...,1079.0,NaN,215894.0,1217659.0,NaN,NaN,3000.0,NaN,74034.0,2577989
45,岡山県,水島,1018596.0,26588.0,1105.0,146406.0,1433.0,37958.0,3206.0,NaN,...,2369.0,414.0,765945.0,1837083.0,13.0,199.0,1210069.0,53299.0,95284.0,8055247
111,香川県,坂出,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1808863

### 移入

In [36]:
# 年次・URLを指定
time = '2022年度'
url = 'https://www.mlit.go.jp/k-toukei/content/001448040.xlsx'

# 抽出する港名を指定　全港湾の場合はNone
port =['姫路','東播磨','水島','坂出']

df = port_kind(time,url,port=port)
# csvに保存
fileName = f'港別✕品種別の移入量【{time}】.csv'
download_csv(df, fileName)

df

品種名,都道府県,港名,その他の石油,その他日用品,その他機械,その他畜産品,その他石油製品,その他繊維工業品,その他製造工業品,その他輸送機械,...,鉄鉱石,鉄鋼,鋼材,電気機械,非金属鉱物,非鉄金属,麦,ＬＮＧ（液化天然ガス）,ＬＰＧ（液化石油ガス）,All
9,兵庫県,姫路,217103.0,NaN,NaN,NaN,153661.0,NaN,NaN,784.0,...,4556.0,1786360.0,309833.0,199.0,30520.0,NaN,17155.0,9019.0,424277.0,6405540
12,兵庫県,東播磨,128470.0,NaN,NaN,NaN,68069.0,NaN,NaN,989.0,...,NaN,20420.0,73480.0,NaN,368094.0,NaN,NaN,202901.0,16462.0,7124509
60,岡山県,水島,550550.0,14156.0,19.0,195.0,1400.0,634.0,5898.0,1246.0,...,NaN,109781.0,359055.0,615.0,5021.0,127.0,67928.0,NaN,242747.0,11856621
146,香川県,坂出,474326.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,267417.0,NaN,5420.0,13650.0,73968.0,NaN,47812.0,3430692

### 移出

In [37]:
# 年次・URLを指定
time = '2020年'
url = 'https://www.mlit.go.jp/k-toukei/content/001448039.xlsx'

# 抽出する港名を指定　全港湾の場合はNone
port =['姫路','東播磨','水島','坂出']

df = port_kind(time,url,port=port)

# csvに保存
fileName = f'港別✕品種別の移出量【{time}】.csv'
download_csv(df, fileName)

df

品種名,都道府県,港名,その他の石油,その他日用品,その他機械,その他石油製品,その他繊維工業品,その他製造工業品,その他輸送機械,その他輸送用車両,...,鉄鋼,鋼材,電気機械,非金属鉱物,非鉄金属,飲料,麦,ＬＮＧ（液化天然ガス）,ＬＰＧ（液化石油ガス）,All
9,兵庫県,姫路,3245.0,NaN,NaN,2036.0,12040.0,NaN,3572.0,NaN,...,NaN,2104965.0,303.0,28260.0,2160.0,NaN,NaN,249866.0,448.0,4872199
12,兵庫県,東播磨,NaN,NaN,NaN,2439.0,NaN,NaN,25715.0,57.0,...,1168462.0,2387837.0,NaN,765275.0,2723.0,NaN,NaN,1600.0,133036.0,6419331
59,岡山県,水島,3995255.0,6465.0,154.0,328414.0,138.0,11115.0,7655.0,NaN,...,213366.0,3080424.0,465.0,92485.0,4590.0,551.0,27104.0,NaN,284199.0,18159839
146,香川県,坂出,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,...,NaN,139657.0,NaN,1250.0,NaN,NaN,4852.0,NaN,34466.0,2069248

## 輸入

### 港別✕品種別

In [4]:
import pandas as pd
import numpy as np

def import_kind(time, url, prefecture=None):

  # EXCELをインポート
  df = get_excel(url)

  # 集計
  df = pd.pivot_table(df, index=['都道府県', '港名'], columns='品種名', values='トン数', margins=True, aggfunc=np.sum).reset_index()

  # 都道府県指定がある場合
  if prefecture is not None:
    df = df[df['都道府県'] == prefecture]
  
  # 欠損列を削除
  df = df.dropna(how='all', axis=1)

  return df

In [ ]:
# 年次・URLを指定
time = '2022年度'
url = 'https://www.mlit.go.jp/k-toukei/content/001448038.xlsx'

# 全港湾の集計結果を取得
df = import_kind(time,url)

# 兵庫県の集計結果を取得
# df = import_kind(time,url,'兵庫県')

# csvに保存
fileName = f'港別✕品種別の輸入量【{time}】.csv'
download_csv(df, fileName)

df

### 港別✕仕向国別（品種指定）

In [ ]:
import pandas as pd
import numpy as np

def import_country(url,kind):

  # EXCELをインポート
  df = get_excel(url)

  # 品種名（kind）に一致する行を抽出
  df = df[df['品種名'] == kind]

  # 集計
  df = pd.pivot_table(df, index=['都道府県', '港名'], columns='仕向国', values='トン数', margins=True, aggfunc=np.sum).reset_index()

  return df

In [ ]:
# URLを指定
url = 'https://www.mlit.go.jp/k-toukei/content/001448038.xlsx'

# 品種名を指定
kind = 'ＬＮＧ（液化天然ガス）'

df = import_kind(url,kind)
df

仕向国,都道府県,港名,アメリカ,アラブ首長国,イギリス,インドネシア,エジプト,オマーン,オーストラリア,カタール,...,パプアニューギニア,フィリピン,フランス,ブルネイ,ペルー,マレーシア,ロシア,台湾,諸国,韓国
0,三重県,四日市,959059.0,NaN,NaN,674544.0,NaN,449991.0,3878849.0,1578185.0,...,501073.0,165268.0,145220.0,NaN,172072.0,2525663.0,777126.0,NaN,NaN,167635.0
1,兵庫県,姫路,1145498.0,NaN,NaN,2146386.0,152857.0,327576.0,7492266.0,1376415.0,...,1386312.0,NaN,NaN,811560.0,176614.0,1287183.0,632402.0,NaN,NaN,NaN
2,兵庫県,東播磨,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.0
3,北海道,石狩湾新,167583.0,NaN,NaN,NaN,NaN,NaN,907248.0,NaN,...,NaN,NaN,NaN,241811.0,NaN,276314.0,1241826.0,NaN,NaN,NaN
4,千葉県,千葉,NaN,NaN,NaN,NaN,NaN,299726.0,7091432.0,2739978.0,...,NaN,NaN,NaN,6593875.0,NaN,1098779.0,930008.0,NaN,NaN,NaN
5,千葉県,木更津,1645425.0,737300.0,NaN,NaN,NaN,139764.0,7119700.0,5218668.0,...,1915201.0,NaN,NaN,154776.0,NaN,1930926.0,933136.0,NaN,NaN,NaN
6,大分県,大分,69634.0,NaN,NaN,229882.0,NaN,NaN,1103274.0,NaN,...,NaN,NaN,NaN,NaN,NaN,65494.0,257240.0,NaN,NaN,NaN
7,大阪府,堺泉北,477295.0,NaN,NaN,186117.0,NaN,1022465.0,3306830.0,274748.0,...,616110.0,NaN,NaN,246176.0,NaN,690651.0,384241.0,NaN,NaN,NaN
8,宮城県,仙台塩釜,72051.0,NaN,NaN,NaN,NaN,NaN,66354.0,308193.0,...,NaN,NaN,NaN,NaN,NaN,423145.0,139483.0,NaN,NaN,NaN
9,富山県,伏木富山,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,567200.0,NaN,NaN,NaN,NaN
10,山口県,柳井,68526.0,NaN,NaN,NaN,NaN,414388.0,772015.0,NaN,...,66829.0,NaN,NaN,62272.0,NaN,NaN,64498.0,NaN,NaN,NaN
11,岡山県,水島,NaN,NaN,NaN,NaN,NaN,86200.0,416700.0,119367.0,...,NaN,NaN,NaN,NaN,NaN,174800.0,NaN,NaN,NaN,NaN
12,広島県,広島,NaN,NaN,NaN,38407.0,NaN,NaN,267847.0,NaN,...,NaN,NaN,NaN,NaN,NaN,212703.0,348767.0,NaN,NaN,200.0
13,広島県,福山,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,565.0
14,愛知県,名古屋,1585033.0,NaN,NaN,769641.0,NaN,135582.0,4859212.0,1872664.0,...,609976.0,NaN,NaN,299042.0,NaN,2942496.0,1294556.0,NaN,NaN,NaN
15,新潟県,新潟,160966.0,NaN,306079.0,145532.0,NaN,121228.0,1045857.0,918092.0,...,NaN,NaN,NaN,NaN,133669.0,1995222.0,1295944.0,151195.0,NaN,140122.0
16,新潟県,直江津,484681.0,NaN,NaN,121614.0,NaN,NaN,2377730.0,398022.0,...,154579.0,NaN,NaN,150962.0,323491.0,397441.0,577713.0,NaN,268921.0,NaN
17,東京都,東京,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,39.0,NaN,NaN,NaN,NaN,30.0,NaN,NaN
18,沖縄県,中城湾,NaN,NaN,NaN,NaN,NaN,NaN,262605.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,神奈川県,川崎,604473.0,1575990.0,NaN,245135.0,NaN,403601.0,5346829.0,1573329.0,...,1249449.0,NaN,NaN,NaN,318934.0,1322337.0,1582066.0,NaN,NaN,NaN
20,神奈川県,横浜,1007857.0,NaN,NaN,NaN,NaN,NaN,3246150.0,794042.0,...,69758.0,NaN,NaN,64674.0,NaN,824976.0,632349.0,NaN,NaN,NaN
21,福岡県,北九州,NaN,NaN,NaN,55333.0,NaN,NaN,527222.0,NaN,...,NaN,NaN,NaN,68296.0,NaN,894197.0,195393.0,NaN,NaN,NaN
22,福島県,相馬,144168.0,NaN,NaN,NaN,NaN,66800.0,69423.0,67681.0,...,NaN,NaN,NaN,26427.0,NaN,420500.0,NaN,NaN,NaN,34011.0
23,茨城県,茨城,20671.0,NaN,NaN,NaN,NaN,NaN,955596.0,543656.0,...,NaN,NaN,NaN,NaN,NaN,451383.0,724403.0,NaN,NaN,NaN
24,長崎県,長崎,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,8200.0,NaN,NaN,NaN,NaN
25,青森県,八戸,NaN,NaN,NaN,NaN,NaN,NaN,205692.0,NaN,...,NaN,NaN,NaN,NaN,NaN,115511.0,NaN,NaN,NaN,NaN
26,静岡県,清水,159549.0,NaN,NaN,NaN,NaN,NaN,1027243.0,436582.0,...,554671.0,NaN,NaN,NaN,323937.0,295905.0,NaN,NaN,NaN,NaN
27,香川県,坂出,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1174451.0,NaN,NaN,NaN,NaN
28,鹿児島県,志布志,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120.0
29,鹿児島県,鹿児島,NaN,NaN,NaN,NaN,NaN,20025.0,107064.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN