# 事前準備

## ライブラリ

In [40]:
!pip install --upgrade xlrd==1.2.0
!pip install openpyxl
!pip install xlwt

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlrd==1.2.0 in /usr/local/lib/python3.8/dist-packages (1.2.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: openpyxl in /usr/local/lib/python3.8/dist-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.8/dist-packages (from openpyxl) (1.1.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlwt in /usr/local/lib/python3.8/dist-packages (1.3.0)

## EXCELを処理する関数

国土交通省ホームページのEXCELデータから作業する

輸出・輸入・移出・移入とも同じ構成のExcelになっているので、EXCELのインポートからDataFameの整形までは共通関数でOK

In [2]:
import pandas as pd

def get_excel(url):
  # ブックの指定
  input_file_name = url
  input_book = pd.ExcelFile(input_file_name)
  
  # 統計結果は2番目のシート、上から2行は無視
  input_sheet_name = input_book.sheet_names
  df = input_book.parse(input_sheet_name[1],skiprows = 2)

  df = df.astype({'トン数': 'int'})

  return df

## CSVに保存する関数

In [3]:
from google.colab import files

def download_csv(df, fileName):
  df.to_csv(fileName, encoding="shift_jis")
  files.download(fileName)
  return

# 港湾統計のURLセット

URLの一覧表をセットしておく

In [13]:
url_master = [
    { 'name':'輸出' , 'time' : '2012年' , 'url' : 'https://www.mlit.go.jp/k-toukei/content/001448464.xlsx' },
    { 'name':'輸出' , 'time' : '2013年' , 'url' : 'https://www.mlit.go.jp/k-toukei/content/001448471.xlsx' },
    { 'name':'輸出' , 'time' : '2014年' , 'url' : 'https://www.mlit.go.jp/k-toukei/content/001448478.xlsx' },
    { 'name':'輸出' , 'time' : '2015年' , 'url' : 'https://www.mlit.go.jp/k-toukei/content/001448485.xlsx' },
    { 'name':'輸出' , 'time' : '2016年' , 'url' : 'https://www.mlit.go.jp/k-toukei/content/001448499.xlsx' },
    { 'name':'輸出' , 'time' : '2017年' , 'url' : 'https://www.mlit.go.jp/k-toukei/content/001448521.xlsx' },
    { 'name':'輸出' , 'time' : '2018年' , 'url' : 'https://www.mlit.go.jp/k-toukei/content/001448545.xlsx' },
    { 'name':'輸出' , 'time' : '2019年' , 'url' : 'https://www.mlit.go.jp/k-toukei/content/001448582.xlsx' },
    { 'name':'輸出' , 'time' : '2020年' , 'url' : 'https://www.mlit.go.jp/k-toukei/content/001448037.xlsx' },
    { 'name':'輸入' , 'time' : '2012年' , 'url' : 'https://www.mlit.go.jp/common/001277672.xls' },
    { 'name':'輸入' , 'time' : '2013年' , 'url' : 'https://www.mlit.go.jp/common/001277688.xls' },
    { 'name':'輸入' , 'time' : '2014年' , 'url' : 'https://www.mlit.go.jp/common/001277703.xls' },
    { 'name':'輸入' , 'time' : '2015年' , 'url' : 'https://www.mlit.go.jp/common/001277717.xls' },
    { 'name':'輸入' , 'time' : '2016年' , 'url' : 'https://www.mlit.go.jp/k-toukei/content/001448500.xlsx' },
    { 'name':'輸入' , 'time' : '2017年' , 'url' : 'https://www.mlit.go.jp/common/001277753.xls' },
    { 'name':'輸入' , 'time' : '2018年' , 'url' : 'https://www.mlit.go.jp/k-toukei/content/001448546.xlsx' },
    { 'name':'輸入' , 'time' : '2019年' , 'url' : 'https://www.mlit.go.jp/k-toukei/content/001448583.xlsx' },
    { 'name':'輸入' , 'time' : '2020年' , 'url' : 'https://www.mlit.go.jp/k-toukei/content/001448038.xlsx' },
    { 'name':'移出' , 'time' : '2012年' , 'url' : 'https://www.mlit.go.jp/common/001277673.xls' },
    { 'name':'移出' , 'time' : '2013年' , 'url' : 'https://www.mlit.go.jp/common/001277689.xls' },
    { 'name':'移出' , 'time' : '2014年' , 'url' : 'https://www.mlit.go.jp/common/001277704.xls' },
    { 'name':'移出' , 'time' : '2015年' , 'url' : 'https://www.mlit.go.jp/common/001277718.xls' },
    { 'name':'移出' , 'time' : '2016年' , 'url' : 'https://www.mlit.go.jp/k-toukei/content/001448501.xlsx' },
    { 'name':'移出' , 'time' : '2017年' , 'url' : 'https://www.mlit.go.jp/k-toukei/content/001448522.xlsx' },
    { 'name':'移出' , 'time' : '2018年' , 'url' : 'https://www.mlit.go.jp/k-toukei/content/001448547.xlsx' },
    { 'name':'移出' , 'time' : '2019年' , 'url' : 'https://www.mlit.go.jp/k-toukei/content/001448584.xlsx' },
    { 'name':'移出' , 'time' : '2020年' , 'url' : 'https://www.mlit.go.jp/k-toukei/content/001448039.xlsx' },
    { 'name':'移入' , 'time' : '2012年' , 'url' : 'https://www.mlit.go.jp/common/001277674.xls' },
    { 'name':'移入' , 'time' : '2013年' , 'url' : 'https://www.mlit.go.jp/common/001277690.xls' },
    { 'name':'移入' , 'time' : '2014年' , 'url' : 'https://www.mlit.go.jp/common/001277705.xls' },
    { 'name':'移入' , 'time' : '2015年' , 'url' : 'https://www.mlit.go.jp/common/001380154.xlsx' },
    { 'name':'移入' , 'time' : '2016年' , 'url' : 'https://www.mlit.go.jp/common/001380116.xlsx' },
    { 'name':'移入' , 'time' : '2017年' , 'url' : 'https://www.mlit.go.jp/k-toukei/content/001448523.xlsx' },
    { 'name':'移入' , 'time' : '2018年' , 'url' : 'https://www.mlit.go.jp/k-toukei/content/001448548.xlsx' },
    { 'name':'移入' , 'time' : '2019年' , 'url' : 'https://www.mlit.go.jp/k-toukei/content/001448585.xlsx' },
    { 'name':'移入' , 'time' : '2020年' , 'url' : 'https://www.mlit.go.jp/k-toukei/content/001448040.xlsx' },
]

URLを取得する関数

In [33]:
def get_url(time, category):
  return list(filter(lambda x : x['time'] == time and x['name'] == category, url_master))[0]['url']

In [34]:
url = get_url('2020年','輸入')
url

'https://www.mlit.go.jp/k-toukei/content/001448038.xlsx'

# 単年度分析

## 港別✕品種別

### 集計関数

In [37]:
import pandas as pd
import numpy as np

def port_kind(url, params):

  # EXCELをインポート
  df = get_excel(url)

  # 集計
  df = pd.pivot_table(df, index=['都道府県', '港名'], columns='品種名', values='トン数', margins=True, aggfunc=np.sum).reset_index()

  # 都道府県指定がある場合
  if 'prefecture' in params:
    df = df[df['都道府県'].isin(params['prefecture'])]

  # 港湾指定がある場合
  if 'port' in params:
    df = df[df['港名'].isin(params['port'])]

  # 品種指定がある場合
  if 'kind' in params:
    df = df[['都道府県','港名',] + params['kind']]

  # 欠損列を削除
  df = df.dropna(how='all', axis=1)

  return df

In [58]:
# 年次指定
time = '2020年'

# パラメータ設定
params = {
    'prefecture': ['兵庫県', '大阪府', '和歌山県', '岡山県','香川県'],
    'port':['姫路','東播磨','水島','坂出'],
    'kind':['ＬＮＧ（液化天然ガス）','重油','原油','その他の石油','石炭'],

}

df = port_kind(get_url(time,'輸入'), params)
df

品種名 都道府県   港名  ＬＮＧ（液化天然ガス）        重油          原油    その他の石油         石炭
7    兵庫県   姫路   16935069.0       NaN         NaN       NaN  1320672.0
9    兵庫県  東播磨       2019.0     750.0         NaN       NaN  5231238.0
53   岡山県   水島     866667.0  165789.0  10696972.0  178165.0  4665126.0
127  香川県   坂出    1174451.0       NaN         NaN       NaN  3709392.0

### Excelに保存

輸入、輸出、移入、移出、搬入（輸入＋移入）、搬出（輸出＋移出）、取扱貨物量（全合計）をExcelシートに保存

In [64]:
def save_xls_port_kind(time,params):
  # 輸入
  df_import = port_kind(get_url(time,'輸入'), params)
  
  # 輸出
  df_export = port_kind(get_url(time,'輸出'), params)

  # 移入
  df_immigration = port_kind(get_url(time,'移入'), params)

  # 移出
  df_emigration = port_kind(get_url(time,'移出'), params)

  # 搬入（輸入＋移入）
  df_carryin = pd.concat([df_import, df_immigration]).groupby(['都道府県','港名'], as_index=False).sum()

  # 搬出（輸出＋移出）
  df_carryout = pd.concat([df_export, df_emigration]).groupby(['都道府県','港名'], as_index=False).sum()

  # 取扱貨物量（総計）
  df_cargo = pd.concat([df_carryin, df_carryout]).groupby(['都道府県','港名'], as_index=False).sum()
  
  with pd.ExcelWriter(f'港湾統計_港名✕品種別【{time}】.xlsx') as writer:
    df_import.to_excel(writer, sheet_name='輸入')
    df_export.to_excel(writer, sheet_name='輸出')
    df_immigration.to_excel(writer, sheet_name='移入')
    df_emigration.to_excel(writer, sheet_name='移出')
    df_carryin.to_excel(writer, sheet_name='搬入（輸入＋移入）')
    df_carryout.to_excel(writer, sheet_name='搬出（輸出＋移出）')
    df_cargo.to_excel(writer, sheet_name='取扱貨物量（総計）')
    
  files.download(f'港湾統計_港名✕品種別【{time}】.xlsx')

  return

In [66]:
# 年次指定
time = '2020年'

# パラメータ設定
params = {
    'prefecture': ['兵庫県', '大阪府', '和歌山県', '岡山県','香川県'],
    'port':['姫路','東播磨','水島','坂出'],
    'kind':['ＬＮＧ（液化天然ガス）','重油','原油','その他の石油','石炭'],
}

# Excelに保存
save_xls_port_kind(time,params)

## 港別✕仕向国別（品種指定）

In [ ]:
import pandas as pd
import numpy as np

def import_country(url,kind):

  # EXCELをインポート
  df = get_excel(url)

  # 品種名（kind）に一致する行を抽出
  df = df[df['品種名'] == kind]

  # 集計
  df = pd.pivot_table(df, index=['都道府県', '港名'], columns='仕向国', values='トン数', margins=True, aggfunc=np.sum).reset_index()

  return df

In [ ]:
# URLを指定
url = 'https://www.mlit.go.jp/k-toukei/content/001448038.xlsx'

# 品種名を指定
kind = 'ＬＮＧ（液化天然ガス）'

df = import_kind(url,kind)
df

仕向国,都道府県,港名,アメリカ,アラブ首長国,イギリス,インドネシア,エジプト,オマーン,オーストラリア,カタール,...,パプアニューギニア,フィリピン,フランス,ブルネイ,ペルー,マレーシア,ロシア,台湾,諸国,韓国
0,三重県,四日市,959059.0,NaN,NaN,674544.0,NaN,449991.0,3878849.0,1578185.0,...,501073.0,165268.0,145220.0,NaN,172072.0,2525663.0,777126.0,NaN,NaN,167635.0
1,兵庫県,姫路,1145498.0,NaN,NaN,2146386.0,152857.0,327576.0,7492266.0,1376415.0,...,1386312.0,NaN,NaN,811560.0,176614.0,1287183.0,632402.0,NaN,NaN,NaN
2,兵庫県,東播磨,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.0
3,北海道,石狩湾新,167583.0,NaN,NaN,NaN,NaN,NaN,907248.0,NaN,...,NaN,NaN,NaN,241811.0,NaN,276314.0,1241826.0,NaN,NaN,NaN
4,千葉県,千葉,NaN,NaN,NaN,NaN,NaN,299726.0,7091432.0,2739978.0,...,NaN,NaN,NaN,6593875.0,NaN,1098779.0,930008.0,NaN,NaN,NaN
5,千葉県,木更津,1645425.0,737300.0,NaN,NaN,NaN,139764.0,7119700.0,5218668.0,...,1915201.0,NaN,NaN,154776.0,NaN,1930926.0,933136.0,NaN,NaN,NaN
6,大分県,大分,69634.0,NaN,NaN,229882.0,NaN,NaN,1103274.0,NaN,...,NaN,NaN,NaN,NaN,NaN,65494.0,257240.0,NaN,NaN,NaN
7,大阪府,堺泉北,477295.0,NaN,NaN,186117.0,NaN,1022465.0,3306830.0,274748.0,...,616110.0,NaN,NaN,246176.0,NaN,690651.0,384241.0,NaN,NaN,NaN
8,宮城県,仙台塩釜,72051.0,NaN,NaN,NaN,NaN,NaN,66354.0,308193.0,...,NaN,NaN,NaN,NaN,NaN,423145.0,139483.0,NaN,NaN,NaN
9,富山県,伏木富山,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,567200.0,NaN,NaN,NaN,NaN
10,山口県,柳井,68526.0,NaN,NaN,NaN,NaN,414388.0,772015.0,NaN,...,66829.0,NaN,NaN,62272.0,NaN,NaN,64498.0,NaN,NaN,NaN
11,岡山県,水島,NaN,NaN,NaN,NaN,NaN,86200.0,416700.0,119367.0,...,NaN,NaN,NaN,NaN,NaN,174800.0,NaN,NaN,NaN,NaN
12,広島県,広島,NaN,NaN,NaN,38407.0,NaN,NaN,267847.0,NaN,...,NaN,NaN,NaN,NaN,NaN,212703.0,348767.0,NaN,NaN,200.0
13,広島県,福山,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,565.0
14,愛知県,名古屋,1585033.0,NaN,NaN,769641.0,NaN,135582.0,4859212.0,1872664.0,...,609976.0,NaN,NaN,299042.0,NaN,2942496.0,1294556.0,NaN,NaN,NaN
15,新潟県,新潟,160966.0,NaN,306079.0,145532.0,NaN,121228.0,1045857.0,918092.0,...,NaN,NaN,NaN,NaN,133669.0,1995222.0,1295944.0,151195.0,NaN,140122.0
16,新潟県,直江津,484681.0,NaN,NaN,121614.0,NaN,NaN,2377730.0,398022.0,...,154579.0,NaN,NaN,150962.0,323491.0,397441.0,577713.0,NaN,268921.0,NaN
17,東京都,東京,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,39.0,NaN,NaN,NaN,NaN,30.0,NaN,NaN
18,沖縄県,中城湾,NaN,NaN,NaN,NaN,NaN,NaN,262605.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,神奈川県,川崎,604473.0,1575990.0,NaN,245135.0,NaN,403601.0,5346829.0,1573329.0,...,1249449.0,NaN,NaN,NaN,318934.0,1322337.0,1582066.0,NaN,NaN,NaN
20,神奈川県,横浜,1007857.0,NaN,NaN,NaN,NaN,NaN,3246150.0,794042.0,...,69758.0,NaN,NaN,64674.0,NaN,824976.0,632349.0,NaN,NaN,NaN
21,福岡県,北九州,NaN,NaN,NaN,55333.0,NaN,NaN,527222.0,NaN,...,NaN,NaN,NaN,68296.0,NaN,894197.0,195393.0,NaN,NaN,NaN
22,福島県,相馬,144168.0,NaN,NaN,NaN,NaN,66800.0,69423.0,67681.0,...,NaN,NaN,NaN,26427.0,NaN,420500.0,NaN,NaN,NaN,34011.0
23,茨城県,茨城,20671.0,NaN,NaN,NaN,NaN,NaN,955596.0,543656.0,...,NaN,NaN,NaN,NaN,NaN,451383.0,724403.0,NaN,NaN,NaN
24,長崎県,長崎,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,8200.0,NaN,NaN,NaN,NaN
25,青森県,八戸,NaN,NaN,NaN,NaN,NaN,NaN,205692.0,NaN,...,NaN,NaN,NaN,NaN,NaN,115511.0,NaN,NaN,NaN,NaN
26,静岡県,清水,159549.0,NaN,NaN,NaN,NaN,NaN,1027243.0,436582.0,...,554671.0,NaN,NaN,NaN,323937.0,295905.0,NaN,NaN,NaN,NaN
27,香川県,坂出,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1174451.0,NaN,NaN,NaN,NaN
28,鹿児島県,志布志,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120.0
29,鹿児島県,鹿児島,NaN,NaN,NaN,NaN,NaN,20025.0,107064.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN